{% extends "base.html" %}
{% load static %}
{% load i18n %}
{% block content %}
<p><a class="btn btn-default" href="{% url 'pyfb-did:pyfb_did_routesdid_list' %}">{% trans "did routing" %}</a></p>
<table class="table">
<tr>
<td>ID</td><td>{% trans "link" %}</td>
    <td>{% trans "order" %}</td>
    <td>{% trans "type" %}</td>
    <td>{% trans "number" %}</td>
    <td>{% trans "weight" %}</td>
</tr>
{% for object in object_list %}
<tr>
    <td>{{object.pk}}</td>
    <td><a href="{{object.get_absolute_url}}">{{object}}</a></td>
    <td>{{ object.order }}</td>
    <td>{{ object.type }}</td>
    <td>{{ object.number }}</td>
    <td>{{ object.weight }}</td>
</tr>
{% endfor %}
</table><a class="btn btn-primary" href="{% url 'pyfb-did:pyfb_did_routesdid_create' %}">{% trans "create new did routing rule" %}</a>
{% endblock %}
