{% extends "admin/change_list.html" %}{% load admin_list i18n admin_static admin_urls %}

{% block object-tools %}
			<div class="row-fluid nav">
				
                {% if request.user.is_superuser %}
                <div class="span12">
                	

						{% block object-tools-items %}
						<div class="span2">
							<a href="export/{{ cl.get_query_string }}" class="big-button">
								<i class="processing-02-item"></i> {% trans 'Export' %}
							</a>
						</div>{% endblock %}

                		<div class="span2">
                	        <span class="label label-inverse">{% trans "Total Minutes" %}</span> : <span class="label label-default">{{ cl.min_total_effective_duration }}</span>
                        </div>
                        <div class="span2">
                        	<span class="label label-inverse">{% trans "Average Minutes" %}</span> : <span class="label label-default">{{ cl.min_avg_effective_duration }}</span>
                        </div>
                        <div class="span2">
                        	<span class="label label-inverse">{% trans "Total Sell" %}</span> : <span class="label label-success">{{ cl.total_sell_total|floatformat:2 }}</span>
                        </div>
                        <div class="span2">
                        	<span class="label label-inverse">{% trans "Total Cost" %}</span> : <span class="label label-important">{{ cl.total_cost_total|floatformat:2 }}</span>
                        </div>
                        <div class="span2">
                        	<span class="label label-inverse">{% trans "Margin" %}</span> : <span class="label label-default">{{ cl.margin|floatformat:2 }}</span>
                        </div>
                    
                </div>{% endif %}

				
			</div>
{% endblock %}
