{% extends 'customer/base.html' %}

{% load bootstrap3 %}{% load i18n %}

{% block bootstrap3_title %}{% trans "PyFreeBilling : Customer Portal Balance History" %}{% endblock %}

{% block content %}

{% if company %}
        <div class="col-md-4">
        	<div class="panel panel-default">
	          <div class="panel-heading">
	          	<h3 class="panel-title">{% trans "Financial Summary" %}</h3>
	          </div>
	          <div class="panel-body">
	          	<ul class="list-group">
	          		<li class="list-group-item">
	          			{% if company.customer_enabled %}
	          				<span class="badge">{% trans "Active" %}</span>
	          			{% else %} 
	          				<span class="badge alert-warning">{% trans "Suspended" %}</span>
	          			{% endif %}
	          			{% trans "Account status" %}
	          		</li>
	          	</ul>
			  </div>
			</div>
		</div>

        <div class="col-md-4">
        	<div class="panel panel-default">
	          <div class="panel-heading">
	          	<h3 class="panel-title">#</h3>
	          </div>
	          <div class="panel-body">
	          	<ul class="list-group">
	          		<li class="list-group-item">
	          			<span class="badge">
	          				{% if company.prepaid %} {% trans "Prepaid" %} {% else %} {% trans "Postpaid" %} {% endif %}
	          			</span>
	          			{% trans "Payment type" %}
	          		</li>
	          	</ul>
			  </div>
			</div>
		</div>

        <div class="col-md-4">
        	<div class="panel panel-default">
	          <div class="panel-heading">
	          	<h3 class="panel-title">#</h3>
	          </div>
	          <div class="panel-body">
	          	<ul class="list-group">
	          		<li class="list-group-item">
	          			<span class="badge">
	          				{{ company.customer_balance|floatformat:2 }} {{ company.cb_currency }}
	          			</span>
	          			{% trans "Balance" %}
	          		</li>
	          	</ul>
			  </div>
			</div>
		</div>

<table class="table table-hover">
	<thead>
		<tr>
			<th>{% trans "Date" %}</th>
			<th class="text-right">{% trans "Amount refund" %}</th>
			<th class="text-right">{% trans "Amount debited" %}</th>
			<th class="text-right">{% trans "Resulting balance" %}</th>
			<th>{% trans "Comment" %}</th>
		</tr>
	</thead>
	<tbody>
	{% for b in CustomerBalance %}
		<tr>
			<td>{{ b.date_modified|date:"D d M Y" }}</td>
			<td class="text-right">{{ b.amount_refund|floatformat:2 }} {{ company.cb_currency }}</td>
			<td class="text-right">{{ b.amount_debited|floatformat:2 }} {{ company.cb_currency }}</td>
			<td class="text-right">{{ b.customer_balance|floatformat:2 }} {{ company.cb_currency }}</td>
			<td>{{ b.reference }}</td>
		</tr>
	{% endfor %}
	</tbody>
</table>

<div class="pagination pagination-centered">
	{% bootstrap_pagination page_obj url="/balance?page=1" size="small" %}
</div>
{% endif %}
{% endblock %}