{% extends 'customer/base.html' %}
{% load i18n %}

{% block bootstrap3_title %}{% trans "PyFreeBilling : Customer Portal Home Page" %}{% endblock %}

{% block content %}
    <div class="row">
        {% if request.user.is_superuser %}
            <a href="extranet/" class="btn btn-danger btn-lg btn-block">{% trans "Admin interface : click here" %}</a>
        {% endif %}<br>
    </div>
    {% if company %}
    <div class="row">
        <div class="col-md-4">
            <div class="panel panel-default">
              <div class="panel-heading">
                <h3 class="panel-title">{% trans "Account Summary" %}</h3>
              </div>
              <div class="panel-body">
                <ul class="list-group">
                    <li class="list-group-item">
                        {{ company.name }}
                    </li>
                </ul>
                <ul class="list-group">
                    <li class="list-group-item">              
                    {% if company.street_address.all %}
                        {% trans "Street Addresses" %} :
                        <ul class="link_list">
                        {% for address in company.street_address.all %}
                            <li class="adr">
                            <span class="street-address">{{ address.street }}</span><br>
                            <span class="locality">{{ address.city }}</span>, <span class="region">{{ address.postal_code }}</span><br>
                            <span class="postal-code">{{ address.province }}</span> <span class="country-name">{{ address.country }}</span>
                            <span class="alt">(<span class="type">{{ address.get_location_display }}</span>)</span>
                            </li>
                        {% endfor %}
                        </ul>
                    {% endif %}
                    </li>
                </ul>
              </div>
            </div>

        </div>

        <div class="col-md-4">
            <div class="panel panel-default">
              <div class="panel-heading">
                <h3 class="panel-title">{% trans "Financial Summary" %}</h3>
              </div>
              <div class="panel-body">
                <ul class="list-group">
                    <li class="list-group-item">
                        {% if company.customer_enabled %}
                            <span class="badge">{% trans "Active" %}</span>
                        {% else %} 
                            <span class="badge alert-warning">{% trans "Suspended" %}</span>
                        {% endif %}
                        {% trans "Account status" %}
                    </li>
                </ul>
                <ul class="list-group">
                    <li class="list-group-item">
                        <span class="badge">
                            {% if company.prepaid %} {% trans "Prepaid" %} {% else %} {% trans "Postpaid" %} {% endif %}
                        </span>
                        {% trans "Payment type" %}
                    </li>
                </ul>
                <ul class="list-group">
                    <li class="list-group-item">
                        <span class="badge">
                            {{ company.customer_balance|floatformat:2 }} {{ company.cb_currency }}
                        </span>
                        {% trans "Balance" %}
                    </li>
                </ul>
              </div>
            </div>
        </div>

        <div class="col-md-4">
            <div class="panel panel-default">
              <div class="panel-heading">
                <h3 class="panel-title">{% trans "Ratecards" %}</h3>
              </div>
              <div class="panel-body">
                    
                </div>
            </div>



        </div>
    </div>


    <div class="row">
        <div class="col-md-8">
            <div class="panel panel-default">
              <div class="panel-heading">
                <h3 class="panel-title">{% trans "Ratecards" %}</h3>
              </div>
              <div class="panel-body">
                

                    

                    <table class="table table-hover">
                        <thead>
                            <tr>
                                <th>{% trans "Priority" %}</th>
                                <th>{% trans "Ratecard" %}</th>
                                <th>{% trans "Tech prefix" %}</th>
                                <th>{% trans "Ciscount" %}</th>
                                <th>{% trans "Currency" %}</th>
                                <th>{% trans "rates details" %}</th>
                                <th>{% trans "Rates download" %}</th>
                            </tr>
                        </thead>
                        <tbody>
                        {% for r in ratecards %}
                            <tr>
                                <td>{{ r.priority }}</td>
                                <td>{{ r.ratecard }}</td>
                                <td>{{ r.tech_prefix }}</td>
                                <td>{{ r.discount }}</td>
                                <td>{{ r.ratecard.currency }}</td>
                                <td><a href="{% url 'customerportal:list_rates' ratecard=r.ratecard_id %}">{% trans "Rates" %}</a></td>
                                <td><a href="{% url 'customerportal:rates_download' ratecard=r.ratecard_id %}">{% trans "Download" %}</a></td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>


              </div>
            </div>

        </div>

    </div>
    {% endif %}


{% endblock %}
