{% extends 'customer/base.html' %}
{% load bootstrap3 %}{% load i18n %}

{% block bootstrap3_title %}{% trans "PyFreeBilling : Customer Portal Login Page" %}{% endblock %}

{% block title %}{% endblock %}



{% block content %}
<div class="container">
	<div class="row">
        <div class="box">
			<form action="{% url 'customerportal:login' %}" method="post" class="form-signin pull-left" role="form">
				<h2 class="form-signin-heading">{% trans "Please sign in" %}</h2>
				{% csrf_token %}
				<input type="hidden" name="next" value="{{ next|urlencode }}" class="form-control" required/>
				{% bootstrap_form form %}

				{% buttons %}
					<button type="submit" class="btn btn-primary btn-lg btn-block">{% trans "Sign In" %}</button>
				{% endbuttons %}
		       
			</form>
		</div>
	</div>

</div>
<script type="text/javascript">document.getElementById('id_username').focus();</script>
{% endblock %}