{% extends 'customer/base.html' %}

{% load bootstrap3 %}{% load i18n %}

{% block bootstrap3_title %}{% trans "PyFreeBilling : Customer Portal SIP Accounts" %}{% endblock %}

{% block content %}


        <div class="col-md-4">
        	<div class="panel panel-default">
	          <div class="panel-heading">
	          	<h3 class="panel-title">{% trans "IP Authentification" %}</h3>
	          </div>
	          <div class="panel-body">
	          	<ul class="list-group">
	          		<li class="list-group-item">
	          			{% trans "You only need to specify our switch ip address in your system. To get it, please contact support" %}.
	          		</li>
	          	</ul>
			  </div>
			</div>
		</div>

        <div class="col-md-4">
        	<div class="panel panel-default">
	          <div class="panel-heading">
	          	<h3 class="panel-title">{% trans "Registration" %}</h3>
	          </div>
	          <div class="panel-body">
	          	<ul class="list-group">
	          		<li class="list-group-item">
	          			{% trans "Your system needs to register with correct username/password. If you lost your password, please contact support" %}.
	          		</li>
	          	</ul>
			  </div>
			</div>
		</div>

        <div class="col-md-4">
        	<div class="panel panel-default">
	          <div class="panel-heading">
	          	<h3 class="panel-title">{% trans "Misc" %}</h3>
	          </div>
	          <div class="panel-body">
	          	<ul class="list-group">
	          		<li class="list-group-item">
	          			{% trans "If you need to modify limits, adding, modifying or deleting a sip account, please contact support team" %}.
	          		</li>
	          	</ul>
			  </div>
			</div>
		</div>

<table class="table table-hover">
	<thead>
		<tr>
			<th>{% trans "SIP auth type" %}</th>
			<th>{% trans "Username" %}</th>
			<th>{% trans "SIP IP" %}</th>
			<th>{% trans "Max calls" %}</th>
			<th>{% trans "Calls/sec" %}</th>
			<th>{% trans "Enabled" %}</th>
		</tr>
	</thead>
	<tbody>
	{% for b in sipaccount %}
		<tr>
			<td>{% if b.registration %}{% trans "Registration" %}{% else %}{% trans "IP Auth" %}{% endif %}</td>
			<td>{{ b.name }}</td>
			<td>{{ b.sip_ip }}</td>
			<td>{{ b.max_calls }}</td>
			<td>{{ b.calls_per_second }}</td>
			<td>{% if b.enabled %}<button type="button" class="btn btn-success btn-xs">{% trans "Enabled" %}</button>{% else %}<button type="button" class="btn btn-danger btn-xs">{% trans "Disabled" %}</button>{% endif %}</td>
		</tr>
	{% endfor %}
	</tbody>
</table>

<div class="pagination pagination-centered">
	{% bootstrap_pagination page_obj url="/sip_account?page=1" size="small" %}
</div>

{% endblock %}