{% extends "admin/change_list.html" %}
{% load i18n admin_static %}



{% block object-tools %}

<ul class="object-tools">
          {% block object-tools-items %}
            {% if request.user.is_superuser %}

                <a href="export/{{ cl.get_query_string }}" class="big-button">
                        <i class="processing-02-item"></i> {% trans 'Export' %}
                </a>

            {% endif %}
          {% endblock %}

</ul>

<b>{% trans "Total Minutes" %}</b> : {{ cl.min_total_effective_duration }}
- <b>{% trans "Average Minutes" %}</b> : {{ cl.min_avg_effective_duration }}
- <b>{% trans "Total Sell" %}</b> : {{ cl.total_sell_total|floatformat:2 }}
- <b>{% trans "Total Cost" %}</b> : {{ cl.total_cost_total|floatformat:2 }}
- <b>{% trans "Margin" %}</b> : {{ cl.margin|floatformat:2 }}

{% endblock %}
