{% extends "base.html" %}
{% load static %}
{% block content %}
<p><a class="btn btn-default" href="{% url 'direction_country_list' %}">Country Listing</a></p>
<table class="table">
<tr>
<td>ID</td><td>Link</td>
    <td>country_iso2</td>
    <td>created</td>
    <td>last_updated</td>
</tr>
{% for object in object_list %}
<tr>
    <td>{{object.pk}}</td>
    <td><a href="{{object.get_absolute_url}}">{{object}}</a></td>
    <td>{{ object.country_iso2 }}</td>
    <td>{{ object.created }}</td>
    <td>{{ object.last_updated }}</td>
</tr>
{% endfor %}
</table><a class="btn btn-primary" href="{% url 'direction_country_create' %}">Create new Country</a>
{% endblock %}
