{% extends "base.html" %}
{% load static %}
{% load i18n %}
{% block content %}
<p><a class="btn btn-default" href="{% url 'pyfb-direction:pyfb-direction_country_list' %}">{% trans "Country Listing" %}</a></p>
<table class="table">
<tr><td>{% trans "country" %}</td><td>{{ object.country_iso2 }}</td></tr>
<tr><td>{% trans "created" %}</td><td>{{ object.created }}</td></tr>
<tr><td>{% trans "modified" %}</td><td>{{ object.modified }}</td></tr>
</table>
<a class="btn btn-primary" href="{{object.get_update_url}}">{% trans "Edit Country" %}</a>

{% endblock %}
