{% extends "base.html" %}
{% load static %}
{% load i18n %}
{% block content %}
<p><a class="btn btn-default" href="{% url 'pyfb-direction:pyfb-direction_destination_list' %}">{% trans "Destination Listing" %}</a></p>
<table class="table">
<tr>
<td>{% trans "ID" %}</td><td>{% trans "Link" %}</td>
    <td>{% trans "name" %}</td>
    <td>{% trans "created" %}</td>
    <td>{% trans "modified" %}</td>
</tr>
{% for object in object_list %}
<tr>
    <td>{{object.pk}}</td>
    <td><a href="{{object.get_absolute_url}}">{{object}}</a></td>
    <td>{{ object.name }}</td>
    <td>{{ object.created }}</td>
    <td>{{ object.modified }}</td>
</tr>
{% endfor %}
</table><a class="btn btn-primary" href="{% url 'pyfb-direction:pyfb-direction_destination_create' %}">{% trans "Create new Destination" %}</a>
{% endblock %}
