{% extends "base.html" %}
{% load static %}
{% load i18n %}
{% block content %}
<p><a class="btn btn-default" href="{% url 'pyfb-direction:pyfb-direction_prefix_list' %}">{% trans "Prefix Listing" %}</a></p>
<table class="table">
<tr>
<td>{% trans "ID" %}</td><td>{% trans "Link" %}</td>
    <td>{% trans "prefix" %}</td>
    <td>{% trans "created" %}</td>
    <td>{% trans "modifed" %}</td>
</tr>
{% for object in object_list %}
<tr>
    <td>{{object.pk}}</td>
    <td><a href="{{object.get_absolute_url}}">{{object}}</a></td>
    <td>{{ object.prefix }}</td>
    <td>{{ object.created }}</td>
    <td>{{ object.modifed }}</td>
</tr>
{% endfor %}
</table><a class="btn btn-primary" href="{% url 'pyfb-direction:pyfb-direction_prefix_create' %}">{% trans "Create new Prefix" %}</a>
{% endblock %}
