{% extends "base.html" %}
{% load static %}
{% load i18n %}
{% block content %}
<p><a class="btn btn-default" href="{% url 'pyfb-direction:pyfb-direction_prefix_list' %}">{% trans "Prefix Listing" %}</a></p>
<table class="table">
<tr><td>{% trans "prefix" %}</td><td>{{ object.prefix }}</td></tr>
<tr><td>{% trans "created" %}</td><td>{{ object.created }}</td></tr>
<tr><td>{% trans "modifed" %}</td><td>{{ object.modifed }}</td></tr>
</table>
<a class="btn btn-primary" href="{{object.get_update_url}}">{% trans "Edit Prefix" %}</a>

{% endblock %}
