<!--home.html-->

<!--Embed the header.html template at this location-->
{{ template "header.html" .}}

<main>
    <div class="container">

        <div class="row gy-5">

            <h2>Welcome</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi at mauris dignissim,
            consectetur tellus in, fringilla ante. Pellentesque habitant morbi tristique senectus
            et netus et malesuada fames ac turpis egestas. Sed dignissim hendrerit scelerisque.</p>
            <p>Praesent a dignissim arcu. Cras a metus sagittis, pellentesque odio sit amet,
            lacinia velit. In hac habitasse platea dictumst. </p>

    </div>
</main>

{{ template "footer.html" . }}
