{% extends "admin/base_site.html" %}
{% load i18n admin_static admin_list %}

{% block title %}{% trans 'PyFreeBilling : version' %}{% endblock %}


{% block breadcrumbs %}
    <div class="breadcrumbs">
    <a href="{% url 'admin:index' %}">{% trans 'Home' %}</a>
    &rsaquo; <a href="{% url 'switch:ServerStatus' %}">{% trans 'PyFreeBilling version' %}</a>
    {% if title %} &rsaquo; {{ title }}{% endif %}
    </div>
{% endblock %}


{% block content %}
  <div id="content-main">
<div id="out">PyFreeBilling version : {{ pfb_version }}</div>
</div>
{% endblock %}
