{% extends "admin/change_list.html" %}

{% load i18n %}

{% load mathtags %}

{% load humanize %}

{% load mathfilters %}

{% load staticfiles %}

{% block extrahead %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.0/Chart.bundle.js"></script>

    <script>
        var randomColorGenerator = function () {
            return '#' + (Math.random().toString(16) + '0000000').slice(2, 8);
        };
        var options = {
            responsive: true,
            maintainAspectRatio: true,
            legend: {
                position: 'left'
            },
            title: {
                display: true
            },
            animation: {
                animateScale: true,
                animateRotate: true
            },
            tooltips: {
              callbacks: {
                label: function(tooltipItem, data) {
                  //get the concerned dataset
                  var dataset = data.datasets[tooltipItem.datasetIndex];
                  //calculate the total of this data set
                  var total = dataset.data.reduce(function(previousValue, currentValue, currentIndex, array) {
                    return previousValue + currentValue;
                  });
                  //get the current items value
                  var currentValue = dataset.data[tooltipItem.index];
                  //calculate the precentage based on the total and current item, also this does a rough rounding to give a whole number
                  var percentage = Math.floor(((currentValue/total) * 100)+0.5);
                  return percentage + "%";
                }
              }
            }
        };
        window.onload = function () {
            var ctx = document.getElementById("customer-chart");

            var lineChart = new Chart(ctx, {
                type: 'doughnut',
                data: {
                    labels: {{ chart_label|safe }},
                    datasets: [{
                        data: {{ chart_data|safe }},
                        backgroundColor: [{% for nb in chart_label|safe %}randomColorGenerator(),{% endfor %}]
                    }]
                },
                options: options
            });


            ctx = document.getElementById("acd-chart");
            lineChart = new Chart(ctx, {
                type: 'pie',
                data: {
                    labels: ["{% trans "Successfull"|title %}", "{% trans "Failed"|title %}"],
                    datasets: [{
                        data: [{{ summary_total.success_calls  }}, {{ summary_total.total_calls|sub:summary_total.success_calls }}],
                        backgroundColor: ["#3cba9f", "#c45850"]
                    }]
                },
                options: options
            });
            
            ctx = document.getElementById("mixed-chart");
            linechart = new Chart(ctx, {
                type: 'bar',
                data: {
                  labels: {{ timeserie_data |safe }},
                  datasets: [{
                      label: "Total Call volume",
                      yAxisID: 'B',
                      type: "bar",
                      borderColor: "#e8c3b9",
                      backgroundColor: "#e8c3b9",
                      data: {{ callvolume_data |safe }},
                      fill: false
                    }, {
                      label: "Answered Call Volume",
                      yAxisID: 'B',
                      type: "bar",
                      borderColor: "#3cba9f",
                      backgroundColor: "#3cba9f",
                      data: {{ successcallvolume_data |safe }},
                      fill: false
                    }, {
                      label: "Revenue",
                      yAxisID: 'A',
                      type: "line",
                      borderColor: "rgb(54, 162, 235)",
                      backgroundColor: "rgb(54, 162, 235)",
                      fill: false,
                      data: {{ revenue_data |safe }},
                    }, {
                      label: "Margin",
                      yAxisID: 'A',
                      type: "line",
                      borderColor: "rgb(255, 99, 132)",
                      backgroundColor: "rgb(255, 99, 132)",
                      fill: false,
                      data: {{ margin_data |safe }}
                    }
                  ]
                },
                options: {
                  responsive: true,
                  title: {
                    display: true,
                    text: '{% trans "Revenue vs. margin vs. Call Volume Over Time by "|title %} {{ period }}'
                  },
                  tooltips : {
                      mode: 'index',
                      intersect: true
                  },
                  legend: { display: true },
                  scales: {
                      yAxes: [{
                        id: 'A',
                        type: 'linear',
                        display: true,
                        scaleLabel: {
                            display: true,
                            labelString: "{% trans "Revenue / Margin" %}",
                        },
                        position: 'left',
                        ticks: {
                          callback: function(value, index, values) {
                              return value.toLocaleString({% get_current_language as LANGUAGE_CODE %});
                          },
                        }
                      }, {
                        id: 'B',
                        type: 'linear',
                        display: true,
                        scaleLabel: {
                            display: true,
                            labelString: "{% trans "Nb of calls" %}",
                        },
                        position: 'right',
                        ticks: {
                          callback: function(value, index, values) {
                              return value.toLocaleString({% get_current_language as LANGUAGE_CODE %});
                          },
                          min: 0
                        }
                      }]
                   }
                }
            });



        }
    </script>


{% endblock %}

{% block content_title %}
    <h1> {% trans "Sales Summary"|title %} </h1>
    
    <div style="margin-right: 25px; margin-left: -15px">
        <div>
            <table>
                <tr>
                    <th style="width: 370px;"><center><h3>{% trans "Top 5 customers"|title %}</h3></center></th>
                    <th style="width: 370px;"><center><h3>{% trans "Successfull vs. Failed calls"|title %}</h3></center></th>
                </tr>
                <tr style="height: 220px">
                    <th><canvas id="customer-chart" style="width: 100px !important;"></canvas></th>
                    <th><canvas id="acd-chart" style="width: 100px !important;"></canvas></th>
                </tr>

            </table>
        </div>
    </div>

{% endblock %}

{% block result_list %}
<div class="results">
    <table>

    <thead>
      <tr>
        <th>
          <div class="text">
            <a href="#">Customers</a>
          </div>
        </th>
        <th>
          <div class="text">
            <a href="#">Nb destinations</a>
          </div>
        </th>
        <th>
          <div class="text">
            <a href="#">Revenue</a>
          </div>
        </th>
        <th>
          <div class="text">
            <a href="#">Margin</a>
          </div>
        </th>
        <th>
          <div class="text">
            <a href="#">Call volume</a>
          </div>
        </th>
        <th>
          <div class="text">
            <a href="#">ASR</a>
          </div>
        </th>
        <th>
          <div class="text">
            <a href="#">ACD</a>
          </div>
        </th>
        <th>
          <div class="text">
            <a href="#">Nb minutes</a>
          </div>
        </th>
        <th>
          <div class="text">
            <a href="#">
              <strong>% Of Total Sales</strong>
            </a>
          </div>
        </th>
      </tr>
    </thead>

    <tbody>
      {% for row in summary %}
      <tr class="{% cycle 'row1' 'row2' %}">
        <td> {{ row.customer__name }} </td>
        <td> {{ row.total | intcomma }} </td>
        <td> {{ row.total_sales | default:0 | intcomma }} </td>
        <td> {{ row.margin | intcomma }} </td>
        <td> {{ row.total_calls | intcomma }} </td>
        <td> {% if row.total_calls %}{{ row.success_calls|mul:100|intdiv:row.total_calls }}%{% else %}N/A{% endif %} </td>
        <td> {% if row.success_calls %}{{ row.total_duration|intdiv:row.success_calls }} sec{% else %}N/A{% endif %} </td>
        <td> {{ row.total_duration |intdiv:60|intcomma }} </td>
        <td>
          <strong>
          {% if summary_total.total_sales %}{{ row.total_sales | default:0 | percentof:summary_total.total_sales }}{% else %}N/A{% endif %}
          </strong>
        </td>
      </tr>
      {% endfor %}
      
      <tr style="font-weight:bold; border-top:2px solid #DDDDDD;">
            <td> Total </td>
            <td> {{ summary_total.total | intcomma }} </td>
            <td> {{ summary_total.total_sales | default:0 }} </td>
            <td> {{ summary_total.margin | intcomma }} </td>
            <td> {{ summary_total.total_calls | intcomma }} </td>
            <td>{% if summary_total.total_calls %}{{ summary_total.success_calls|mul:100|intdiv:summary_total.total_calls }}%{% else %}N/A{% endif %}</td>
            <td> {% if summary_total.success_calls %}{{ summary_total.total_duration|intdiv:summary_total.success_calls }} sec{% else %}N/A{% endif %} </td>
            <td> {{ summary_total.total_duration|intdiv:60|intcomma }} min </td>
            <td> 100% </td>
        </tr>
        
    </tbody>

  </table>
  <div><h2> History </h2></div>



    <div id="line_chart" class="well">

        <canvas id="mixed-chart" width="800" height="450"></canvas>

    </div>
    
</div>
{% endblock %}

{% block pagination %}{% endblock %}
