{% extends "admin/change_list.html" %}

{% load mathtags %}

{% load humanize %}

{% block content_title %}
    <h1> Sales Summary </h1>
{% endblock %}

{% block result_list %}
<div class="results">
    <table>

    <thead>
      <tr>
        <th>
          <div class="text">
            <a href="#">Customers</a>
          </div>
        </th>
        <th>
          <div class="text">
            <a href="#">Nb destinations</a>
          </div>
        </th>
        <th>
          <div class="text">
            <a href="#">Total Sales</a>
          </div>
        </th>
        <th>
          <div class="text">
            <a href="#">Margin</a>
          </div>
        </th>
        <th>
          <div class="text">
            <a href="#">Nb Calls</a>
          </div>
        </th>
        <th>
          <div class="text">
            <a href="#">Successfull Calls</a>
          </div>
        </th>
        <th>
          <div class="text">
            <a href="#">Total Duration</a>
          </div>
        </th>
        <th>
          <div class="text">
            <a href="#">
              <strong>% Of Total Sales</strong>
            </a>
          </div>
        </th>
      </tr>
    </thead>

    <tbody>
      {% for row in summary %}
      <tr class="{% cycle 'row1' 'row2' %}">
        <td> {{ row.customer__name }} </td>
        <td> {{ row.total | intcomma }} </td>
        <td> {{ row.total_sales | default:0 | intcomma }} </td>
        <td> {{ row.margin | intcomma }} </td>
        <td> {{ row.total_calls | intcomma }} </td>
        <td> {{ row.success_calls | default:0 | percentof:row.total_calls }} </td>
        <td> {{ row.total_duration | intcomma }} </td>
        <td>
          <strong>
          {{ row.total_sales | default:0 | percentof:summary_total.total_sales }}
          </strong>
        </td>
      </tr>
      {% endfor %}
      
      <tr style="font-weight:bold; border-top:2px solid #DDDDDD;">
            <td> Total </td>
            <td> {{ summary_total.total | intcomma }} </td>
            <td> {{ summary_total.total_sales | default:0 }} </td>
            <td> {{ summary_total.margin | intcomma }} </td>
            <td> {{ summary_total.total_calls | intcomma }} </td>
            <td> {{ summary_total.success_calls | default:0 | percentof:summary_total.total_calls }} </td>
            <td> {{ summary_total.total_duration | intcomma }} </td>
            <td> 100% </td>
        </tr>
        
    </tbody>

  </table>
  <div><h2> Sales over time </h2></div>


    <style>

    .bar-chart {
      display: flex;
      justify-content: space-around;
      height: 200px;
      padding-top: 60px;
      overflow: hidden;
    }
    .bar-chart .bar {
        flex: 100%;
        align-self: flex-end;
        margin-right: 2px;
        position: relative;
        background-color: #79aec8;
    }
    .bar-chart .bar:last-child {
        margin: 0;
    }
    .bar-chart .bar:hover {
        background-color: #417690;
    }

    .bar-chart .bar .bar-tooltip {
        position: relative;
        z-index: 999;
    }
    .bar-chart .bar .bar-tooltip {
        position: absolute;
        top: -60px;
        left: 50%;
        transform: translateX(-50%);
        text-align: center;
        opacity: 0;
    }
    .bar-chart .bar:hover .bar-tooltip {
        opacity: 1;
    }
    
    </style>

    <div class="results">
        <div class="bar-chart">
        {% for x in summary_over_time %}
            <div class="bar" style="height:{{x.pct}}%">
                <div class="bar-tooltip">
                    {{x.total | default:0 | intcomma }}<br>
                    {{x.period | date:"d/m/Y"}}
                </div>
            </div>
        {% endfor %}
        </div>
    </div>
    
</div>
{% endblock %}

{% block pagination %}{% endblock %}
