{% extends "admin/base_site.html" %}
{% load i18n %}
{% load admin_urls %}
{% load timestamp_to_time %}


{% block title %}{% trans 'PyFreeBilling : serveur status' %}{% endblock %}


{% block breadcrumbs %}
    <div class="breadcrumbs">
    <a href="{% url 'admin:index' %}">{% trans 'Home' %}</a>
    &rsaquo; <a href="{% url 'switch:ServerStatus' %}">{% trans 'Serveur status' %}</a>
    {% if title %} &rsaquo; {{ title }}{% endif %}
    </div>
{% endblock %}

{% block content_title %}{% trans 'Serveur status' %}{% endblock %}

{% block content %}
<div class="dashboard-container columns_2 cf">
    <div class="dashboard-column-wrapper">
        <div class="dashboard-column first">
            <div class="dashboard-item" style="margin-bottom: 1.42857rem;">
                <div class="dashboard-item-header">
                    <span class="dashboard-item-header-drag icon-grid">
                    </span>
                    <span class="dashboard-item-title">
                        <span class="dashboard-item-header-collapse-button icon-arrow-down"></span>
                        {% trans 'System' %}
                    </span>
                    <div class="cf"></div>
                </div>
                <div class="dashboard-item-content contrast" style="height: auto;">
                    <table class="table table-striped table-bordered">
                        <tr>
                            <th class="label-col"><b>{% trans 'OS' %}</b></th>
                            <td>{{ os }}</td>
                        </tr>
                        <tr>
                            <th class="label-col"><b>{% trans 'Hostname' %}</b></th>
                            <td>{{ hostname }}</td>
                        </tr>
                        <tr>
                            <th class="label-col"><b>{% trans 'Uptime' %}</b></th>
                            <td>{{ uptime }}</td>
                        </tr>
                        <tr>
                            <th class="label-col"><b>{% trans 'CPU Cores' %}</b></th>
                            <td>{{ num_cpus }}</td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <div class="dashboard-column-wrapper">
        <div class="dashboard-column">
            <div class="dashboard-item" style="margin-bottom: 1.42857rem;">
                <div class="dashboard-item-header">
                    <span class="dashboard-item-header-drag icon-grid">
                    </span>
                    <span class="dashboard-item-title">
                        <span class="dashboard-item-header-collapse-button icon-arrow-down"></span>
                        {% trans 'Users' %} <small>({% trans 'Logged in' %})</small>
                    </span>
                    <div class="cf"></div>
                </div>
                <div class="dashboard-item-content" style="height: auto;">
                    <table class="users table table-striped table-bordered">
                        <thead>
                            <tr>
                                <th>{% trans 'User' %}</th>
                                <th>{% trans 'Started' %}</th>
                                <th>{% trans 'Host' %}</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for u in users %}
                                <tr>
                                    <th>{{ u.name }}</th>
                                    <td>{{ u.started|timestamp_to_time|date:"D d M Y H:i:s" }}</td>
                                    <td>{{ u.host }}</td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="dashboard-container columns_3 cf">
    <div class="dashboard-column-wrapper">
        <div class="dashboard-column first">
            <div class="dashboard-item" style="margin-bottom: 1.42857rem;">
                <div class="dashboard-item-header">
                    <span class="dashboard-item-header-drag icon-grid">
                    </span>
                    <span class="dashboard-item-title">
                        <span class="dashboard-item-header-collapse-button icon-arrow-down"></span>
                         {% trans 'CPU' %} <span class="pull-right"><small>{{ num_cpus }} {% trans 'cores' %}</small>
                    </span>
                    <div class="cf"></div>
                </div>
                <div class="dashboard-item-content contrast" style="height: auto;">
                    <table class="cpu table table-striped table-bordered">
                        <tr>
                            <th class="label-col"><b>{% trans 'Load average' %}</b></th>
                            <td class="load" style="word-spacing: 10px;">{{ load_avg.0 }} {{ load_avg.1 }} {{ load_avg.2 }}</td>
                        </tr>
                        <tr>
                            <th class="label-col"><b>{% trans 'User' %}</b></th>
                            <td class="user">{{ cpu.user }} %</td>
                        </tr>
                        <tr>
                            <th class="label-col"><b>{% trans 'System' %}</b></th>
                            <td class="system">{{ cpu.system }} %</td>
                        </tr>
                        <tr>
                            <th class="label-col"><b>{% trans 'Idle' %}</b></th>
                            <td class="idle">{{ cpu.idle }} %</td>
                        </tr>
                        <tr>
                            <th class="label-col"><b>{% trans 'I/O wait' %}</b></th>
                            <td class="iowait">{{ cpu.iowait }} %</td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <div class="dashboard-column-wrapper">
        <div class="dashboard-column">
            <div class="dashboard-item" style="margin-bottom: 1.42857rem;">
                <div class="dashboard-item-header">
                    <span class="dashboard-item-header-drag icon-grid">
                    </span>
                    <span class="dashboard-item-title">
                        <span class="dashboard-item-header-collapse-button icon-arrow-down"></span>
                        {% trans 'Memory' %}
                    </span>
                    <div class="cf"></div>
                </div>
                <div class="dashboard-item-content" style="height: auto;">
                    <table class="memory table table-striped table-bordered">
                        <tr>
                            <th class="label-col"><b>{% trans 'Total' %}</b></th>
                            <td class="total">{{ memory.total|filesizeformat }}</td>
                        </tr>
                        <tr>
                            <th class="label-col"><b>{% trans 'Available' %}</b></th>
                            <td class="available">{{ memory.available|filesizeformat }}</td>
                        </tr>
                        <tr>
                            <th class="label-col"><b>{% trans 'Used' %} </b><small>({% trans 'excl. cache and buffers' %})</small></th>
                            <td class="used_excl">{{ mem_wo_c|filesizeformat }} ({{ memory.percent }} %)</td>
                        </tr>
                        <tr>
                            <th class="label-col"><b>{% trans 'Used' %} </b><small>({% trans 'incl. cache and buffers' %})</small></th>
                            <td class="used_incl">{{ memory.used|filesizeformat }}</td>
                        </tr>
                        <tr>
                            <th class="label-col"><b>{% trans 'Free' %}</b></th>
                            <td class="free">{{ memory.free|filesizeformat }}</td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <div class="dashboard-column-wrapper">
        <div class="dashboard-column">
            <div class="dashboard-item" style="margin-bottom: 1.42857rem;">
                <div class="dashboard-item-header">
                    <span class="dashboard-item-header-drag icon-grid">
                    </span>
                    <span class="dashboard-item-title">
                        <span class="dashboard-item-header-collapse-button icon-arrow-down"></span>
                        {% trans 'Swap' %}
                    </span>
                    <div class="cf"></div>
                </div>
                <div class="dashboard-item-content" style="height: auto;">
                    <table class="swap table table-striped table-bordered">
                        <tr>
                            <th class="label-col"><b>{% trans 'Total' %}</b></th>
                            <td class="total">{{ swap.total|filesizeformat }}</td>
                        </tr>
                        <tr>
                            <th class="label-col"><b>{% trans 'Used' %}</b></th>
                            <td class="used">{{ swap.used|filesizeformat }} ({{ swap.percent }} %)</td>
                        </tr>
                        <tr>
                            <th class="label-col"><b>{% trans 'Free' %}</b></th>
                            <td class="free">{{ swap.free|filesizeformat }}</td>
                        </tr>
                        <tr>
                            <th class="label-col"><b>{% trans 'Swapped in' %}</b></th>
                            <td class="swapped-in">{{ swap.swapped_in|filesizeformat }}</td>
                        </tr>
                        <tr>
                            <th class="label-col"><b>{% trans 'Swapped out' %}</b></th>
                            <td class="swapped-out">{{ swap.swapped_out|filesizeformat }}</td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="dashboard-container columns_2 cf">
    <div class="dashboard-column-wrapper">
        <div class="dashboard-column first">
            <div class="dashboard-item" style="margin-bottom: 1.42857rem;">
                <div class="dashboard-item-header">
                    <span class="dashboard-item-header-drag icon-grid">
                    </span>
                    <span class="dashboard-item-title">
                        <span class="dashboard-item-header-collapse-button icon-arrow-down"></span>
                        {% trans 'Network I/O' %}
                    </span>
                    <div class="cf"></div>
                </div>
                <div class="dashboard-item-content contrast" style="height: auto;">
                    <table class="table">
                        <thead>
                            <tr>
                                <th>{% trans 'Name' %}</th>
                                <th>{% trans 'IP' %}</th>
                                <th>{% trans 'P. Dropped' %}</th>
                                <th>{% trans 'P. Error' %}</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for ni in net_interfaces %}
                                <tr>
                                    <td>{{ ni.name }}</td>
                                    <td>{{ ni.ip }}</td>
                                    <td>{{ ni.dropped_in|filesizeformat }}/{{ ni.dropped_out|filesizeformat }}</td>
                                    <td>{{ ni.errors_in|filesizeformat }}/{{ ni.errors_out|filesizeformat }}</td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <div class="dashboard-column-wrapper">
        <div class="dashboard-column">
            <div class="dashboard-item" style="margin-bottom: 1.42857rem;">
                <div class="dashboard-item-header">
                    <span class="dashboard-item-header-drag icon-grid">
                    </span>
                    <span class="dashboard-item-title">
                        <span class="dashboard-item-header-collapse-button icon-arrow-down"></span>
                        {% trans 'Disk usage' %}</small>
                    </span>
                    <div class="cf"></div>
                </div>
                <div class="dashboard-item-content" style="height: auto;">
                    <table class="disks table table-striped table-bordered">
                        <thead>
                            <tr>
                                <th>{% trans 'Device' %}</th>
                                <th>{% trans 'Mounted' %}</th>
                                <th>{% trans 'Total' %}</th>
                                <th>{% trans 'Used' %}</th>
                                <th>{% trans 'Free' %}</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for d in disks %}
                                <tr>
                                    <td>{{ d.device }}</td>
                                    <td>{{ d.mountpoint }}</td>
                                    <td>{{ d.space_total|filesizeformat }}</td>
                                    <td>{{ d.space_used|filesizeformat }} ({{ d.space_percent }} %)</td>
                                    <td>{{ d.space_free|filesizeformat }}</td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}

{% block sidebar %}{% endblock %}
