{% extends "admin/change_list.html" %}

{% block content %}
  <div id="content-main">

    {% if cl.formset.errors %}
        <p class="errornote">
        {% if cl.formset.total_error_count == 1 %}{% trans "Please correct the error below." %}{% else %}{% trans "Please correct the errors below." %}{% endif %}
        </p>
        {{ cl.formset.non_form_errors }}
    {% endif %}
    <div class="module{% if cl.has_filters %} filtered{% endif %}" id="changelist">
      {% block search %}{% search_form cl %}
<div class="breadcrumbs">
{% if request.user.is_superuser %}{% trans "Total Minutes" %} : {{ cl.min_total_effective_duration }} --- {% trans "Average Minutes" %} : {{ cl.min_avg_effective_duration }} --- {% trans "Total Sell" %} : {{ cl.total_sell_total }} --- {% trans "Total Cost" %} : {{ cl.total_cost_total }} --- {% trans "Margin" %} : {{ cl.margin }} {% endif %}
</div>
{% endblock %}
