{% extends "admin/change_form.html" %}
{% load i18n admin_urls %}


{% block object-tools-items %}
    <li>
        {% url opts|admin_urlname:'history' original.pk|admin_urlquote as history_url %}
        <a href="{% add_preserved_filters history_url %}" class="historylink">{% trans "History" %}</a>
    </li>
    <li>
        <a href="../../../companybalancehistory/?company__id__exact={{ object_id }}">
             {% trans "Balance" %}
        </a>
    </li>
    <li>
        <a href="../../../customerdirectory/?company__id__exact={{ object_id }}">
            {% trans "Customer SIP" %}
        </a>
    </li>

    <li>
        <a href="../../../cdr/?customer__id__exact={{ object_id }}">
            {% trans "CDRs" %}
        </a>
    </li>
    <li>
        <a href="../../../sofiagateway/?company__id__exact={{ object_id }}">
            {% trans "Gateway" %}
        </a>
    </li>
    <li>
        <a href="../../../person/?company__id__exact={{ object_id }}">
            {% trans "Contacts" %}
        </a>
    </li> 

{% endblock %}
