{% extends "base.html" %}
{% load i18n %}

{% block title %}{% trans "PyFreeBilling : Customer Portal Home Page" %}{% endblock %}

{% block content %}

<div class="my-3 my-md-5">

  <div class="container">
    <div class"page-header">
        <div class="row align-items-center">
            <div class="col-auto">
                <h2 class="page-title">
                    Call detail reports
                </h2>
            </div>
        </div>
    </div>
     <div class="row row-deck row-cards">

          <div class="col-12">
            <div class="card">
              <div class="card-header">
                <h3 class="card-title">Call list</h3>
              </div>
              <div class="table-responsive">
                <table class="table table-striped card-table table-vcenter text-nowrap datatable">
                  <thead>
                    <tr>
                      <th class="w-1">Start time</th>
                      <th>Customer</th>
                      <th>Type</th>
                      <th>Caller number</th>
                      <th>Called number</th>
                      <th>Real duration</th>
                      <th>Provider</th>
                      <th></th>
                    </tr>
                  </thead>
                  <tbody>

                    {% if cdrs %}
                    {% for cdr in cdrs %}

                    <tr>
                      <td><span class="small text-muted">{{ cdr.start_time }}</span></td>
                      <td><a href="cdr/1" class="text-inherit"><span class="small">{{ cdr.customer.company.name }}</span></a></td>
                      <td><span class="small text-muted">{{ cdr.direction }}</span></td>
                      <td>
                        <span class="small">{{ cdr.caller_number }}</span>
                      </td>
                      <td>
                        <span class="small">{{ cdr.callee_number }}</span>
                      </td>
                      <td>
                        {% if cdr.min_effective_duration != "00:00" %}
                        <span class="status-icon bg-success"></span><span class="small">{{ cdr.min_effective_duration }}</span>
                        {% else %}
                        <span class="status-icon bg-warning"></span><span class="small">{{ cdr.min_effective_duration }}</span>
                        {% endif %}
                      </td>
                      <td>
                        <span class="small">{{ cdr.provider }}</span>
                      </td>
                      <td class="text-right">
                        <div class="dropdown">
                          <button class="btn btn-secondary btn-sm" type="button" data-toggle="modal" data-target="#modalcdr{{ cdr.id }}">Details</button>


<!-- Modal: modalCart -->
<div class="modal fade" id="modalcdr{{ cdr.id }}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
  aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <!--Header-->
      <div class="modal-header">
        <h4 class="modal-title" id="myModalLabel">CDR detail  <span class="small">     {{ cdr.aleg_uuid }}</span></h4>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">×</span>
        </button>
      </div>
      <!--Body-->
      <div class="modal-body">

            <div class="row">
              <div class="col-md-6 col-lg-6">
                <div class="card">
                  <div class="card-body">
                    <dl class="row">
                      <dt class="col-5"> Start time:</dt>
                      <dd class="col-7">{{ cdr.start_time }}</dd>
                      <dt class="col-5"> Hangup time:</dt>
                      <dd class="col-7">{{ cdr.end_time }}</dd>
                      <dt class="col-5"> Call duration:</dt>
                      <dd class="col-7">{{ cdr.duration }} sec</dd>
                    </dl>
                  </div>
                </div>
              </div>
              <div class="col-md-6 col-lg-6">
                <div class="card">
                  <div class="card-body">
                    <dl class="row">
                      <dt class="col-5">Dest. number:</dt>
                      <dd class="col-7">{{ cdr.callee_number }}</dd>
                      <dt class="col-5"></dt>
                      <dd class="col-7"><span class="small">{{ cdr.callee_destination.name }}</span></dd>
                      <dt class="col-5">Caller Number:</dt>
                      <dd class="col-7">{{ cdr.callee_number }}</span></dd>
                      <dt class="col-5"></dt>
                      <dd class="col-7"><span class="small">{{ cdr.callee_destination.name }}</span></dd>
                    </dl>
                  </div>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-6 col-lg-6">
                <div class="card">

                  <div class="card-body">
                    <dl class="row">
                      <dt class="col-5">Customer:</dt>
                      <dd class="col-7">{{ cdr.customer.company.name }}</dd>
                      <dt class="col-5">Total sell:</dt>
                      <dd class="col-7">{{ cdr.total_sell }}</dd>
                      <dt class="col-5">Sell rate:</dt>
                      <dd class="col-7">{{ cdr.rate }}</dd>
                      <dt class="col-5">Sell billed duration:</dt>
                      <dd class="col-7">{{ cdr.billsec }}</dd>
                      <dt class="col-5">SIP Charge Info:</dt>
                      <dd class="col-7">{{ bcdr.sip_charge_info }}</dd>
                    </dl>
                  </div>
                </div>
              </div>
              <div class="col-md-6 col-lg-6">
                <div class="card">

                  <div class="card-body">
                    <dl class="row">
                      <dt class="col-5">Provider:</dt>
                      <dd class="col-7">{{ cdr.provider }}</dd>
                      <dt class="col-5">Total cost:</dt>
                      <dd class="col-7">{{ cdr.total_cost }}</dd>
                      <dt class="col-5">Buy rate:</dt>
                      <dd class="col-7">{{ cdr.cost_rate }}</dd>
                      <dt class="col-5">Buy billed duration:</dt>
                      <dd class="col-7">{{ cdr.costsec }}</dd>
                      <dt class="col-5"></dt>
                      <dd class="col-7"></dd>
                    </dl>
                  </div>
               </div>
             </div>
           </div>
           <div class="row">
            <div class="col-md-6 col-lg-6">
              <div class="card">

                <div class="card-body">
                  <dl class="row">
                    <dt class="col-5">Rx MOS / Tx MOS:</dt>
                    <dd class="col-7">{{ cdr.sip_rtp_rxstat }} / {{ cdr.sip_rtp_txstat }}</dd>
                    <dt class="col-5">Direction - Call class:</dt>
                    <dd class="col-7">{{ cdr.direction }} / {{ cdr.call_class }}</dd>
                  </dl>

                </div>
              </div>
            </div>
          </div>

      </div>
      <!--Footer-->
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
<!-- Modal: modalcdr -->



</div>
</td>
</tr>
                    


                    {% endfor %}
                {% else %}
                    <tr>
                        <td colspan="8" class="text-center small text-muted">
                            <br/>
                            {% trans "You miss a lot of fun, no calls !" %}
                            
                        </td>
                    </tr>
                {% endif %}



                  </tbody>
                </table>
                <script>
                  require(['datatables', 'jquery'], function(datatable, $) {
                        $('.datatable').DataTable();
                            buttons: [
                                'csv', 'excel'
                            ]
                      });
                </script>
              </div>
            </div>
          </div>
        </div>
      </div>



  </div>

</div>
</div>

  {% endblock content%}