{% extends "base.html" %}
{% load i18n %}
{% load humanize %}

{% block title %}{% trans "PyFreeBilling : Customer endpoint Detail" %}{% endblock %}

{% block content %}

<div class="my-3 my-md-5">

	<div class="container">
		<div class"page-header">
		    <div class="row align-items-center">
		        <div class="col-auto">
		            <h2 class="page-title">
		            </h2>
		        </div>
		    </div>
		</div>
		 <div class="row row-deck row-cards">

			<div class="card col-md-6">
			   <div class="card-body">
			      <div class="row align-items-center mb-4">
			         <div class="col-auto">
			            <div class="avatar avatar-lg rounded d-block"
			                 style="background-image: url(https://logo.clearbit.com/amazon.com?size=100)">{{ endpoint.name|slice:"2"|upper }}</div>
			         </div>
			         <div class="col">{% trans "Customer endpoint name" %} : 
			            <div class="h3 m-0 font-weight-normal">
			            	{{ endpoint.name|upper }}
			            	{% if endpoint.enabled %}
                                <i class="text-green fe fe-unlock" data-toggle="tooltip" data-original-title="customer_endpoint_enabled"></i>
                            {% else %}
                                <i class="text-red fe fe-lock" data-toggle="tooltip" data-original-title="customer_endpoint_disabled"></i>
                            {% endif %}
			            </div>
			            <div class="small text-muted">
                            @{{ endpoint.domain }}
                        </div>
			         </div>
			     </div>
			     

			      <div class="row">
		            {% if endpoint.registration %}<label class="col-sm-6">{% trans "Credential authentication" %} : </label><div class="col-sm-6 text-muted"></div>
                    <label class="col-sm-6">{% trans "Username" %} :</label><div class="col-sm-6 text-muted"> {{ endpoint.name }}</div>
                    <label class="col-sm-6">{% trans "Password" %} :</label><div class="col-sm-6 dropdown"> 
                    	<button type="button" class="btn btn-outline-danger mr-auto dropdown-toggle" data-toggle="dropdown">
						    <!-- SVG icon code -->
						    {% trans "Show password" %}
						  </button>
						  <div class="dropdown-menu">
						    <a class="dropdown-item" href="#">
						      {{ endpoint.password }}
						    </a>

						  </div>
					</div>

                    {% else %}
                    <label class="col-sm-6">{% trans "IP authentication" %} : </label><div class="col-sm-6 text-muted"></div>
                    <label class="col-sm-6">{% trans "SIP IP" %} :</label><div class="col-sm-6 text-muted"> {{ endpoint.sip_ip }}</div>
		            {% endif %}
		         </div>
			   </div>
			   <!-- Card footer -->
			    <div class="card-footer small text-muted text-center mt-4">
			      {% trans "Created" %} : {{ endpoint.created|date }}  -  {% trans "Updated" %} : {{ endpoint.modified|date }}
			    </div>
			</div>
			<div class="col-6">
				<h3>{% trans "DIDs" %}</h3>
				{% include 'pages/cards/did_endpoint_list.html' %}
			</div>
		</div>
		<div class="row">
			<div class="col-md-6">
				<h3>{% trans "Numbers management" %}</h3>
				{% include 'pages/cards/callerid_endpoint_list.html' %}
			</div>
			<div class="col-md-6">
				<h3>{% trans "Limitations" %}</h3>
				{% include 'pages/cards/limitations_endpoint_list.html' %}
			</div>
		</div>
		<div class="row">
			<div class="col-md-6">
				<h3>{% trans "Recording" %}</h3>
				{% include 'pages/cards/recording_endpoint_list.html' %}
			</div>
			<div class="col-md-6">
				<h3>{% trans "Advanced" %}</h3>
				{% include 'pages/cards/advanced_endpoint_list.html' %}
			</div>
		</div>
	</div>
</div>

{% endblock content%}