{% extends "base.html" %}
{% load static %}
{% load i18n %}
{% block content %}
<p><a class="btn btn-default" href="{% url 'pyfb-kamailio:pyfb_kamailio_userblacklist_list' %}">UserBlackList Listing</a></p>
<table class="table">
<tr><td>username</td><td>{{ object.username }}</td></tr>
<tr><td>domain</td><td>{{ object.domain }}</td></tr>
<tr><td>prefix</td><td>{{ object.prefix }}</td></tr>
<tr><td>whitelist</td><td>{{ object.whitelist }}</td></tr>
</table>
<a class="btn btn-primary" href="{{object.get_update_url}}">Edit UserBlackList</a>

{% endblock %}
