{% extends 'customer/base.html' %}

{% load bootstrap3 %}

{% block bootstrap3_title %}PyFreeBilling : Customer Portal Balance History{% endblock %}

{% block content %}


        <div class="col-md-4">
        	<div class="panel panel-default">
	          <div class="panel-heading">
	          	<h3 class="panel-title">Financial Summary</h3>
	          </div>
	          <div class="panel-body">
	          	<ul class="list-group">
	          		<li class="list-group-item">
	          			{% if company.customer_enabled %}
	          				<span class="badge">Active</span>
	          			{% else %} 
	          				<span class="badge alert-warning">Suspended</span>
	          			{% endif %}
	          			Account status
	          		</li>
	          	</ul>
			  </div>
			</div>
		</div>

        <div class="col-md-4">
        	<div class="panel panel-default">
	          <div class="panel-heading">
	          	<h3 class="panel-title">#</h3>
	          </div>
	          <div class="panel-body">
	          	<ul class="list-group">
	          		<li class="list-group-item">
	          			<span class="badge">
	          				{% if company.prepaid %} Prepaid {% else %} Postpaid {% endif %}
	          			</span>
	          			Payment type
	          		</li>
	          	</ul>
			  </div>
			</div>
		</div>

        <div class="col-md-4">
        	<div class="panel panel-default">
	          <div class="panel-heading">
	          	<h3 class="panel-title">#</h3>
	          </div>
	          <div class="panel-body">
	          	<ul class="list-group">
	          		<li class="list-group-item">
	          			<span class="badge">
	          				{{ company.customer_balance|floatformat:2 }}
	          			</span>
	          			Balance
	          		</li>
	          	</ul>
			  </div>
			</div>
		</div>

<table class="table table-hover">
	<thead>
		<tr>
			<th>Date</th>
			<th>Amount refund</th>
			<th>Amount debited</th>
			<th>Resulting balance</th>
			<th>Comment</th>
		</tr>
	</thead>
	<tbody>
	{% for b in CustomerBalance %}
		<tr>
			<td>{{ b.date_modified }}</td>
			<td>{{ b.amount_refund }}</td>
			<td>{{ b.amount_debited }}</td>
			<td>{{ b.customer_balance }}</td>
			<td>{{ b.reference }}</td>
		</tr>
	{% endfor %}
	</tbody>
</table>

<div class="pagination pagination-centered">
	{% bootstrap_pagination page_obj url="/balance?page=1" size="small" %}
</div>

{% endblock %}