{% extends 'customer/bootstrap3.html' %}
{% load i18n %}
{% load url from future %}
{% load bootstrap3 %}

{% block bootstrap3_extra_head %}{% endblock %}

{% block bootstrap3_content %}
	{% block navbar %}
	<nav class="navbar-wrapper navbar-default navbar-fixed-top" role="navigation">
		<div class="container">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
					<span class="sr-only">Toggle navigation</span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
				<a class="navbar-brand" href="/">{% trans "PyFreeBilling : Customer portal" %}</a>
			</div>
			{% if user.is_authenticated %}
			<div class="collapse navbar-collapse navbar-ex1-collapse">
				<div class="navbar-collapse collapse">
					<ul class="nav navbar-nav navbar-right">
						<li><a href="{% url 'home' %}">{% trans "Home" %}</a></li>
						<li><a href="{% url 'sip_account' %}">{% trans "SIP Accounts" %}</a></li>
						<li><a href="{% url 'balance_history' %}">{% trans "Balance history" %}</a></li>
						<li><a href="{% url 'list_export' %}">{% trans "Report" %}</a></li>
						<li><a href="{% url 'cdr_report' %}">{% trans "CDR" %}</a></li>
						<li><a href="{% url 'user_profile' %}">{% trans "Logged in as" %} {{ user.username }}</a></li>
						<li><a href="{% url 'django.contrib.auth.views.logout_then_login' %}"><i class="icon-off"></i>{% trans "Log out" %}</a></li>
					</ul>
				</div><!--/.navbar-collapse -->
			</div>
			{% endif %}
		</div>
	</nav>
	{% endblock navbar %}

	<div class="container-fluid">
        <div class="jumbotron">

        </div>
    </div>

	<div class="container">
		<div class="row">
			{% bootstrap_messages %}
		</div>
		{% block content %}{% endblock %}
	</div>



	{% block footer-container %}
		<footer>
			<div class="container">
				<div class="row">
				<p class="muted credit">
					{% block footer %}{% endblock %}
					<span class='credit'>Powered by <a href="http://www.pyfreebilling.com">PyFreeBilling</a>. customer portal v1.50</span>
				</p>
				</div>
			</div>
		</footer>
	{% endblock %}
{% endblock %}