{% extends 'customer/base.html' %}
{% load i18n %}

{% block bootstrap3_title %}{% trans "PyFreeBilling : Customer Portal Home Page" %}{% endblock %}

{% block content %}
    <div class="row">
    	{% if request.user.is_superuser %}
			<a href="extranet/" class="btn btn-danger btn-lg btn-block">{% trans "Admin interface : click here" %}</a>
		{% endif %}<br>
    </div>
	<div class="row">
		{% if company %}
        <div class="col-md-4">
        	<div class="panel panel-default">
	          <div class="panel-heading">
	          	<h3 class="panel-title">{% trans "Account Summary" %}</h3>
	          </div>
	          <div class="panel-body">
	          	<ul class="list-group">
	          		<li class="list-group-item">
	          			{{ company.name }}
	          		</li>
	          	</ul>
	          	<ul class="list-group">
	          		<li class="list-group-item">	          
					{% if company.street_address.all %}
						{% trans "Street Addresses" %} :
						<ul class="link_list">
						{% for address in company.street_address.all %}
							<li class="adr">
							<span class="street-address">{{ address.street }}</span><br>
							<span class="locality">{{ address.city }}</span>, <span class="region">{{ address.postal_code }}</span><br>
							<span class="postal-code">{{ address.province }}</span> <span class="country-name">{{ address.country }}</span>
							<span class="alt">(<span class="type">{{ address.get_location_display }}</span>)</span>
							</li>
						{% endfor %}
						</ul>
					{% endif %}
					</li>
				</ul>
			  </div>
			</div>

        </div>

        <div class="col-md-4">
        	<div class="panel panel-default">
	          <div class="panel-heading">
	          	<h3 class="panel-title">{% trans "Financial Summary" %}</h3>
	          </div>
	          <div class="panel-body">
	          	<ul class="list-group">
	          		<li class="list-group-item">
	          			{% if company.customer_enabled %}
	          				<span class="badge">{% trans "Active" %}</span>
	          			{% else %} 
	          				<span class="badge alert-warning">{% trans "Suspended" %}</span>
	          			{% endif %}
	          			{% trans "Account status" %}
	          		</li>
	          	</ul>
	          	<ul class="list-group">
	          		<li class="list-group-item">
	          			<span class="badge">
	          				{% if company.prepaid %} {% trans "Prepaid" %} {% else %} {% trans "Postpaid" %} {% endif %}
	          			</span>
	          			{% trans "Payment type" %}
	          		</li>
	          	</ul>
	          	<ul class="list-group">
	          		<li class="list-group-item">
	          			<span class="badge">
	          				{{ company.customer_balance|floatformat:2 }} {{ company.cb_currency }}
	          			</span>
	          			{% trans "Balance" %}
	          		</li>
	          	</ul>
			  </div>
			</div>
		</div>

		<div class="col-md-4">
		</div>
        {% endif %}

{% endblock %}