{% extends 'customer/base.html' %}
{% load i18n %}

{% block bootstrap3_title %}{% trans "PyFreeBilling : Customer Portal Report" %}{% endblock %}

{% block content %}
	<div class="row">

        <div class="col-md-4">
        	<div class="panel panel-default">
	          <div class="panel-heading">
	          	<h3 class="panel-title">{% trans "Daily CDR Reports (Last 7 Days)" %}</h3>
	          </div>
	          <div class="panel-body">
	          	<ul class="list-group">
	          		<li class="list-group-item">
	          			<a href="{% url 'report' day=1 month=0 %}">{{ day_1|date:"j N Y" }}</a>
	          		</li>
	          	</ul>
	          	<ul class="list-group">
	          		<li class="list-group-item">
	          			<a href="{% url 'report' day=2 month=0 %}">{{ day_2|date:"j N Y" }}</a>
	          		</li>
	          	</ul>
	          	<ul class="list-group">
	          		<li class="list-group-item">
	          			<a href="{% url 'report' day=3 month=0 %}">{{ day_3|date:"j N Y" }}</a>
	          		</li>
	          	</ul>
	          	<ul class="list-group">
	          		<li class="list-group-item">
	          			<a href="{% url 'report' day=4 month=0 %}">{{ day_4|date:"j N Y" }}</a>
	          		</li>
	          	</ul>
	          	<ul class="list-group">
	          		<li class="list-group-item">
	          			<a href="{% url 'report' day=5 month=0 %}">{{ day_5|date:"j N Y" }}</a>
	          		</li>
	          	</ul>
	          	<ul class="list-group">
	          		<li class="list-group-item">
	          			<a href="{% url 'report' day=6 month=0 %}">{{ day_6|date:"j N Y" }}</a>
	          		</li>
	          	</ul>
	          	<ul class="list-group">
	          		<li class="list-group-item">
	          			<a href="{% url 'report' day=7 month=0 %}">{{ day_7|date:"j N Y" }}</a>
	          		</li>
	          	</ul>
			  </div>
			</div>

        </div>

        <div class="col-md-4">
        	<div class="panel panel-default">
	          <div class="panel-heading">
	          	<h3 class="panel-title">{% trans "Monthly CDR reports (Lats 3 Months)" %}</h3>
	          </div>
	          <div class="panel-body">
				<ul class="list-group">
	          		<li class="list-group-item">
	          			<a href="{% url 'report' day=0 month=1 %}">{{ month_1|date:"N Y" }}</a>
	          		</li>
	          	</ul>
	          	<ul class="list-group">
	          		<li class="list-group-item">
	          			<a href="{% url 'report' day=0 month=2 %}">{{ month_2|date:"N Y" }}</a>
	          		</li>
	          	</ul>
	          	<ul class="list-group">
	          		<li class="list-group-item">
	          			<a href="{% url 'report' day=0 month=3 %}">{{ month_3|date:"N Y" }}</a>
	          		</li>
	          	</ul>
			  </div>
			</div>
		</div>

		<div class="col-md-4">
		</div>


{% endblock %}