{{define "base"}}
<!doctype html>
<html lang='en'>
    <head>
        <meta charset='utf-8'>
        <title>{{template "page:title" .}} - PKS-admin</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        {{block "page:meta" .}}{{end}}
        
        <link rel='shortcut icon' href='/static/img/favicon.ico' type='image/x-icon'>
        <link rel='stylesheet' href='/static/css/main.css?version={{.Version}}'>
        <link rel='stylesheet' href='https://fonts.googleapis.com/css?family=Ubuntu+Mono:400,700'>
    </head>
    <body>
        <header>
            <h1><a href="/">PKS-admin</a></h1>
            {{template "partial:nav" .}}
        </header>
        <main>
            <!-- Display the flash message if one exists -->
            {{with .Flash}}
                <div class='flash'>{{.}}</div>
            {{end}}
            {{template "page:main" .}}
        </main>
        {{template "partial:footer" .}}
        <script src="/static/js/main.js" type="text/javascript"></script>
    </body>
</html>
{{end}}
