@font-face {
	font-family: 'jet-demo-icons';
	src:url('fonts/jet-demo-icons.eot?bw1778');
	src:url('fonts/jet-demo-icons.eot?#iefixbw1778') format('embedded-opentype'),
		url('fonts/jet-demo-icons.ttf?bw1778') format('truetype'),
		url('fonts/jet-demo-icons.woff?bw1778') format('woff'),
		url('fonts/jet-demo-icons.svg?bw1778#jet-demo-icons') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="jet-demo-icon-"], [class*=" jet-demo-icon-"] {
	font-family: 'jet-demo-icons';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.jet-demo-icon-github:before {
	content: "\e600";
}