{% extends "base.html" %}
{% load static %}
{% block content %}
<p><a class="btn btn-default" href="{% url 'pyfb-rating:pyfb_rating_customerrcallocation_list' %}">CustomerRcAllocation Listing</a></p>
<table class="table">
<tr><td>tech_prefix</td><td>{{ object.tech_prefix }}</td></tr>
<tr><td>priority</td><td>{{ object.priority }}</td></tr>
<tr><td>discount</td><td>{{ object.discount }}</td></tr>
<tr><td>allow_negative_margin</td><td>{{ object.allow_negative_margin }}</td></tr>
<tr><td>description</td><td>{{ object.description }}</td></tr>
</table>
<a class="btn btn-primary" href="{{object.get_update_url}}">Edit CustomerRcAllocation</a>

{% endblock %}
