{% extends "admin/base_site.html" %}
{% load i18n admin_static admin_list %}
{% load admin_urls %}
{% load googlecharts %}

{% block extrastyle %}{{ block.super }}
  <link rel="stylesheet" type="text/css" href="{% static "admin/css/changelists.css" %}" />
{{ media.css }}
{% endblock %}

{% block extrahead %}
{{ block.super }}
{{ media.js }}
{% endblock %}

{% block coltype %}flex{% endblock %}

{% block content %}
<table>
  <tr>
    <td>  
      <div id="content-main">Nb TOTAL CALLS
        <div id="out1"></div>
      </div>
    </td>
    <td>
      <div id="content-main">Nb SUCCESS CALLS
        <div id="out1a"></div>
      </div>
    </td>
    <td>
      <div id="content-main">TOTAL DURATION
        <div id="out1b"></div>
      </div>
    </td>
  </tr>
  <tr>
    <td>
      <div id="content-main">SELL
        <div id="out2"></div>
      </div>
    </td>
    <td>
      <div id="content-main">BUY
        <div id="out3"></div>
      </div>
    </td>
    <td>
      <div id="content-main">MARGIN
        <div id="out4"></div>
      </div>
    </td>
  </tr>
</table>

{% googlecharts %}
    {# named data and options can be reused #}
    {% data ts_total_calls "out1_data" %}
        {% col "string" "Date" %}"{{ val|date:"M j" }}"{% endcol %}
        {% col "number" "Nb Calls" %}{{ val|default_if_none:"0" }}{% endcol %}
    {% enddata %}
    {# you can also use global javascript variables here, #}
    {# and call functions #}
        options = {
            backgroundColor: "#f9f9f9",
            colors: ["#09f"],
            gridlineColor: "#ddd",
            legend: "none",
            vAxis: {minValue: 0},
            width: 400,
            height: 240
        };
    {% options "out1_options" %}
        kind: "LineChart",
        options: options
    {% endoptions %}
    {# chart is assembled from container, data and options #}
    {% graph "out1" "out1_data" "out1_options" %}

    {# named data and options can be reused #}
    {% data ts_success_calls "out1a_data" %}
        {% col "string" "Date" %}"{{ val|date:"M j" }}"{% endcol %}
        {% col "number" "Nb Calls" %}{{ val|default_if_none:"0" }}{% endcol %}
    {% enddata %}
    {# you can also use global javascript variables here, #}
    {# and call functions #}
        options = {
            backgroundColor: "#f9f9f9",
            colors: ["#09f"],
            gridlineColor: "#ddd",
            legend: "none",
            vAxis: {minValue: 0},
            width: 400,
            height: 240
        };
    {% options "out1a_options" %}
        kind: "LineChart",
        options: options
    {% endoptions %}
    {# chart is assembled from container, data and options #}
    {% graph "out1a" "out1a_data" "out1a_options" %}

    {# named data and options can be reused #}
    {% data ts_total_duration "out1b_data" %}
        {% col "string" "Date" %}"{{ val|date:"M j" }}"{% endcol %}
        {% col "number" "Duration in min" %}{{ val|default_if_none:"0" }}{% endcol %}
    {% enddata %}
    {# you can also use global javascript variables here, #}
    {# and call functions #}
        options = {
            backgroundColor: "#f9f9f9",
            colors: ["#09f"],
            gridlineColor: "#ddd",
            legend: "none",
            vAxis: {minValue: 0},
            width: 400,
            height: 240
        };
    {% options "out1b_options" %}  
        kind: "LineChart",   
        options: options
    {% endoptions %}
    {# chart is assembled from container, data and options #}
    {% graph "out1b" "out1b_data" "out1b_options" %}

    {# named data and options can be reused #}
    {% data ts_total_sell "out2_data" %}
        {% col "string" "Date" %}"{{ val|date:"M j" }}"{% endcol %}
        {% col "number" "Sell" %}{{ val|default_if_none:"0" }}{% endcol %}
    {% enddata %}
    {# you can also use global javascript variables here, #}
    {# and call functions #}
        options = {
            backgroundColor: "#f9f9f9",
            colors: ["#09f"],
            gridlineColor: "#ddd",
            legend: "none",
            vAxis: {minValue: 0},
            width: 400,
            height: 240
        };
    {% options "out2_options" %}
        kind: "LineChart",
        options: options
    {% endoptions %}
    {# chart is assembled from container, data and options #}
    {% graph "out2" "out2_data" "out2_options" %}

    {# named data and options can be reused #}
    {% data ts_total_cost "out3_data" %}                                                 
        {% col "string" "Date" %}"{{ val|date:"M j" }}"{% endcol %}
        {% col "number" "Buy" %}{{ val|default_if_none:"0" }}{% endcol %}
    {% enddata %}
    {# you can also use global javascript variables here, #}
    {# and call functions #}
        options = {
            backgroundColor: "#f9f9f9",
            colors: ["#09f"],
            gridlineColor: "#ddd",
            legend: "none",
            vAxis: {minValue: 0},
            width: 400,
            height: 240
        };
    {% options "out3_options" %}
        kind: "LineChart",
        options: options
    {% endoptions %}
    {# chart is assembled from container, data and options #}
    {% graph "out3" "out3_data" "out3_options" %}

    {# named data and options can be reused #}
    {% data ts_total_margin "out4_data" %}                                                 
        {% col "string" "Date" %}"{{ val|date:"M j" }}"{% endcol %}
        {% col "number" "Margin" %}{{ val|default_if_none:"0" }}{% endcol %}
    {% enddata %}
    {# you can also use global javascript variables here, #}
    {# and call functions #}
        options = {
            backgroundColor: "#f9f9f9",
            colors: ["#09f"],
            gridlineColor: "#ddd",
            legend: "none",
            vAxis: {minValue: 0},
            width: 400,
            height: 240
        };
    {% options "out4_options" %}
        kind: "LineChart",
        options: options
    {% endoptions %}
    {# chart is assembled from container, data and options #}
    {% graph "out4" "out4_data" "out4_options" %}

{% endgooglecharts %}
{% endblock %}
