{% extends "admin/base_site.html" %}
{% load i18n admin_static admin_list %}
{% load admin_urls %}
{% load googlecharts %}

{% block extrastyle %}{{ block.super }}
  <link rel="stylesheet" type="text/css" href="{% static "admin/css/changelists.css" %}" />
{{ media.css }}
{% endblock %}

{% block extrahead %}
{{ block.super }}
{{ media.js }}
{% endblock %}

{% block coltype %}flex{% endblock %}

{% block content %}
  <div id="content-main">
<div id="out"></div>
</div>
{% googlecharts %}
    {# named data and options can be reused #}
    {% data ts_success_calls "out_data" %}
        {% col "string" "Date" %}"{{ val|date:"M j" }}"{% endcol %}
        {% col "number" "Total Calls" %}{{ val|default_if_none:"0" }}{% endcol %}
    {% enddata %}
    {# you can also use global javascript variables here, #}
    {# and call functions #}
	options = {
            backgroundColor: "#f9f9f9",
            colors: ["#09f"],
            gridlineColor: "#ddd",
            legend: "none",
            vAxis: {minValue: 0},
            width: 300,
            height: 240
        };
    {% options "out_options" %}
        kind: "LineChart",
        options: options
    {% endoptions %}
    {# chart is assembled from container, data and options #}
    {% graph "out" "out_data" "out_options" %}
{% endgooglecharts %}
{% endblock %}
