{% extends "admin/base_site.html" %}
{% load i18n admin_static admin_list %}
{% load admin_urls %}{% load mathfilters %}

{% load django_tables2 %}

{% load bootstrap_toolkit %}

{% block extrastyle %}{{ block.super }}
	<link rel="stylesheet" type="text/css" href="{% static "admin/css/changelists.css" %}" />
	<link rel="stylesheet" href="{{ STATIC_URL }}css/bootstrap-tables2.css" />
	{{ media.css }}
{% endblock %}

{% block extrahead %}
	{{ block.super }}
	{{ media.js }}
{% endblock %}

{% block coltype %}flex{% endblock %}

{% block content %}
  <div id="content-main">
	<div class="container">
		<div class="row">
			{% if vue == "customer" %}
			<form action="{% url 'customers_stats' %}" method="GET" class="form-horizontal" role="form">
			{% elif vue == "provider" %}
			<form action="{% url 'providers_stats' %}" method="GET" class="form-horizontal" role="form">
			{% elif vue == "dest_customer" %}
			<form action="{% url 'dest_customers_stats' %}" method="GET" class="form-horizontal" role="form">
			{% elif vue == "dest_provider" %}
			<form action="{% url 'dest_providers_stats' %}" method="GET" class="form-horizontal" role="form">
			{% endif %}
				<h3 class="form-signin-heading">Stats selection : </h3>
				
				<div class="control-group">
					<label for="from_date" class="span2 control-label">From date (Y/M/D h:m) :</label>
					<div class="span1">
            			<select name="from_y" class="input-small" placeholder="year">
            				<option selected disabled>year</option>
				  			<option>2013</option>
				  			<option>2014</option>
				  			<option>2015</option>
						  	<option>2016</option>
						</select>
        			</div>
        			<div class="span1">
            			<select name="from_m" class="input-small" placeholder="month">
            				<option selected disabled>month</option>
				  			<option>1</option>
				  			<option>2</option>
				  			<option>3</option>
						  	<option>4</option>
						  	<option>5</option>
						  	<option>6</option>
						  	<option>7</option>
						  	<option>8</option>
						  	<option>9</option>
						  	<option>10</option>
						  	<option>11</option>
						  	<option>12</option>
						</select>
        			</div>
        			<div class="span1">
            			<select name="from_d" class="input-small" placeholder="day">
            				<option selected disabled>day</option>
				  			<option>1</option>
				  			<option>2</option>
				  			<option>3</option>
						  	<option>4</option>
						  	<option>5</option>
						  	<option>6</option>
						  	<option>7</option>
						  	<option>8</option>
						  	<option>9</option>
						  	<option>10</option>
						  	<option>11</option>
						  	<option>12</option>
						  	<option>13</option>
						  	<option>14</option>
						  	<option>15</option>
						  	<option>16</option>
						  	<option>17</option>
						  	<option>18</option>
						  	<option>19</option>
						  	<option>20</option>
						  	<option>21</option>
						  	<option>22</option>
						  	<option>23</option>
						  	<option>24</option>
						  	<option>25</option>
						  	<option>26</option>
						  	<option>27</option>
						  	<option>28</option>
						  	<option>29</option>
						  	<option>30</option>
						  	<option>31</option>
						</select>
        			</div>

					<label for="to_date" class="span2 control-label">To date (Y/M/D h:m) :</label>
					<div class="span1">
            			<select name="to_y" class="input-small" placeholder="year">
            				<option selected disabled>year</option>
				  			<option>2013</option>
				  			<option>2014</option>
				  			<option>2015</option>
						  	<option>2016</option>
						</select>
        			</div>
        			<div class="span1">
            			<select name="to_m" class="input-small" placeholder="month">
            				<option selected disabled>month</option>
				  			<option>1</option>
				  			<option>2</option>
				  			<option>3</option>
						  	<option>4</option>
						  	<option>5</option>
						  	<option>6</option>
						  	<option>7</option>
						  	<option>8</option>
						  	<option>9</option>
						  	<option>10</option>
						  	<option>11</option>
						  	<option>12</option>
						</select>
        			</div>
        			<div class="span1">
            			<select name="to_d" class="input-small" placeholder="day">
            				<option selected disabled>day</option>
				  			<option>1</option>
				  			<option>2</option>
				  			<option>3</option>
						  	<option>4</option>
						  	<option>5</option>
						  	<option>6</option>
						  	<option>7</option>
						  	<option>8</option>
						  	<option>9</option>
						  	<option>10</option>
						  	<option>11</option>
						  	<option>12</option>
						  	<option>13</option>
						  	<option>14</option>
						  	<option>15</option>
						  	<option>16</option>
						  	<option>17</option>
						  	<option>18</option>
						  	<option>19</option>
						  	<option>20</option>
						  	<option>21</option>
						  	<option>22</option>
						  	<option>23</option>
						  	<option>24</option>
						  	<option>25</option>
						  	<option>26</option>
						  	<option>27</option>
						  	<option>28</option>
						  	<option>29</option>
						  	<option>30</option>
						  	<option>31</option>
						</select>
        			</div>
				</div>
				<div class="control-group">
					{% if vue == "customer" or vue == "dest_customer" %}
					<label for="company" class="span2 control-label">Customer :</label>
					{% elif vue == "provider" or vue == "dest_provider" %}
					<label for="company" class="span2 control-label">Provider :</label>
					{% endif %}
					<div class="span4">
            			<input type="company" name="company" class="form-control"></input>
            			<i class="help icon-question-sign" data-content="The filter will search company names that contain your entry" data-original-title="Help text :"></i>
        			</div>
					<label for="dest_num" class="span2 control-label">Destination :</label>
					<div class="span4">
            			<input type="dest_num" name="dest_num" class="form-control"></input>
            			<i class="help icon-question-sign" data-content="The filter will search destinations that contain your entry" data-original-title="Help text :"></i>
        			</div>
        		</div>
				<div class="text-center">
					<button type="submit" class="btn btn-primary">Search ... </button>
				</div>
		       
			</form>
		</div>
	</div>
	
	<div><center><h3>- Stats  
		{% if start_date %} From <i class="text-info">{{ start_date|date:"D d M Y" }}</i> {% endif %}
		{% if end_date %}To <i class="text-info">{{ end_date|date:"D d M Y" }}</i> --{% endif %}
		Company : <i class="text-info">{% if company %}{{ company }} {% else %}ALL{% endif %}</i> --
		Destination : <i class="text-info">{% if dest_num %}{{ dest_num }} {% else %}ALL{% endif %}</i> -</h3></center>
	</div>

    <div id="out"> 

{% if table.page %}
    <div class="table-container">
{% endif %}

{% block table %}
    <table class="table table-compact table-bordered"{% if table.attrs %} {{ table.attrs.as_html }}{% endif %}>
        {% block table.thead %}
            <thead>
            <tr>
                {% for column in table.columns %}
                    {% if column.orderable %}
                        <th {{ column.attrs.th.as_html }}><a href="{% querystring table.prefixed_order_by_field=column.order_by_alias.next %}">{{ column.header }}</a></th>
                    {% else %}
                        <th {{ column.attrs.th.as_html }}>{{ column.header }}</th>
                    {% endif %}
                {% endfor %}
            </tr>
            </thead>
        {% endblock table.thead %}
        {% block table.tbody %}
            <tbody>
            {% for row in table.page.object_list|default:table.rows %} {# support pagination #}
                {% block table.tbody.row %}
                    <tr class="{% cycle "odd" "even" %}">
                        {% for column, cell in row.items %}
                            <td {{ column.attrs.td.as_html }}>{{ cell }}</td>
                        {% endfor %}
                    </tr>
                {% endblock table.tbody.row %}
            {% empty %}
                {% if table.empty_text %}
                    {% block table.tbody.empty_text %}
                        <tr><td colspan="{{ table.columns|length }}">{{ table.empty_text }}</td></tr>
                    {% endblock table.tbody.empty_text %}
                {% endif %}
            {% endfor %}
            </tbody>
        {% endblock table.tbody %}
        {% block table.tfoot %}
            <tfoot>
				<tr>
	          		<td><b>SUMMARY</b></td>
	          		{% if vue == 'customer' or vue == 'dest_customer' %}<td><b>Sell: {{ total_table.total_sell }}</b></td>{% else %}
	          		<td><b>Cost: {{ total_table.total_cost }}</td></b>{% endif %}
	          		<td><b>{{ total_table.total_sell|sub:total_table.total_cost }}</b></td>
	          		{% if vue == 'customer' or vue == 'provider' %}<td><b>N/A</b></td>{% endif %}
	          		<td><b>{{ total_table.total_calls }}</b></td>
	          		<td><b>{{ total_table.success_calls }}</b></td>
	          		<td><b>{% if total_table.total_calls %}{{ total_table.success_calls|mul:100|intdiv:total_table.total_calls }}%{% else %}N/A{% endif %}</b></td>
	          		<td><b>{{ total_table.total_duration|intdiv:60 }} min</b></td>
	          		<td><b>{% if total_table.total_calls %}{{ total_table.total_duration|intdiv:total_table.success_calls }} sec{% else %}N/A{% endif %}</b></td>
	          		<td><b>N/A</b></td>
	          		</b>
				</tr>

            </tfoot>
        {% endblock table.tfoot %}
    </table>
{% endblock table %}

{% if table.page %}
    {% block pagination %}
        {{ table.page|pagination }}
    {% endblock pagination %}
{% endif %}




{% if table.page %}
	</div>
{% endif %}

    </div>
    <script>
(function($){
$('.help').popover({trigger: 'click', html: true});
})(yawdadmin.jQuery)
</script>
</div>


{% endblock %}