{% extends "admin/base_site.html" %}
{% load i18n admin_static admin_list %}
{% load admin_urls %}

{% block extrastyle %}{{ block.super }}
  <link rel="stylesheet" type="text/css" href="{% static "admin/css/changelists.css" %}" />
{{ media.css }}
{% endblock %}

{% block extrahead %}
{{ block.super }}
{{ media.js }}
{% endblock %}

{% block coltype %}flex{% endblock %}

{% block content %}
<div class="row-fluid show-grid">
  <div class="span12">
    <div class="results">

      <table cellspacing="O" id="result_list" class="table table-bordered table-striped">
        <thead>
          <tr class="grey-degrade">
            {# each column name #}
            <th scope="col" class="sortable">
              <span class="text">
                {# add column title and link if you want #}
                Name
              </span>
              <span class="sortoptions">
{# add sorting url and icons here #}
              </span>
            </th>
          </tr>
        </thead>
        <tbody>
          {# each row pair and impair are differents #}
          <tr class="row1">
            <th>
              blabla
            </th>
            <td>
              z
            </td>
          </tr>
          <tr class="row2">
            s
          </tr>
        </tbody>
        <tr>
          {% for t in time_series %}
            <td> 
              <div id="content-main">{{ t.0|date:"M j, D" }}
                <div>{{ t.1|floatformat:2 }}</div>
              </div>
            </td>
          {% endfor %}
        </tr>
      </table>
    </div>
  </div>
</div>
{% endblock %}
