{% extends "admin/change_list.html" %}{% load admin_list i18n admin_static yawdadmin_tags yawdadmin_filters admin_urls %}


{% block object-tools %}
			<div class="row-fluid nav">{% block object-tools-items %}{% if has_add_permission %}
				<div class="span2">
					<a href="add/{% if is_popup %}?_popup=1{% endif %}" class="big-button">
						<i class="add-item"></i> {% trans 'Add' %}
					</a>
				</div>
				<div class="span2">
					<a href="{% url 'pyfreebill:fs_directory_update' %}" 
					class="big-button">
						<i class="reload-item"></i> {% trans 'Apply Conf to Freeswitch' %}
					</a>
				</div>{% endif %}{% endblock %}
			</div>
{% endblock %}