
#-------------
#-------------
## 22_accounting.cfg
#-------------

# Set accounting flags and dialog vars to specify call direction and callID
route[ACCOUNTING] {
    # Set accounting flags
    setflag(FLT_ACC);
    setflag(FLT_ACCFAILED); # even if the transaction fails

}

#-------------
