{% load staticfiles %}
{% load i18n %}

<!doctype html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, viewport-fit=cover">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta http-equiv="Content-Language" content="en" />
    <meta name="msapplication-TileColor" content="#2d89ef">
    <meta name="theme-color" content="#4188c9">
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent"/>
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="mobile-web-app-capable" content="yes">
    <meta name="HandheldFriendly" content="True">
    <meta name="MobileOptimized" content="320">

    <link rel="icon" href="/static/assets/favicon.ico" type="image/x-icon"/>
    <link rel="shortcut icon" type="image/x-icon" href="/static/assets/favicon.ico" />
    
    <!-- Generated: 2019-04-04 16:55:45 +0200 -->
    <title>
        Dashboard - {% block title %}{% endblock %} | PyFreeBilling
    </title>

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,300i,400,400i,500,500i,600,600i,700,700i&amp;subset=latin-ext">

    <script src="/static/assets/js/require.min.js"></script>
    <script>
      requirejs.config({
          baseUrl: '/static/'
      });
    </script>

    <!-- Dashboard Core -->
    <link href="/static/assets/css/dashboard.css" rel="stylesheet" />
    <script src="/static/assets/js/dashboard.js"></script>
    <!-- c3.js Charts Plugin -->
    <link href="/static/assets/plugins/charts-c3/plugin.css" rel="stylesheet" />
    <script src="/static/assets/plugins/charts-c3/plugin.js"></script>
    <!-- Datatables Plugin -->
    <script src="/static/assets/plugins/datatables/plugin.js"></script>
    <script type="https://cdn.datatables.net/buttons/1.6.2/js/dataTables.buttons.min.js"></script>
    <script type="https://cdn.datatables.net/buttons/1.6.2/js/buttons.html5.min.js"></script>


  </head>
  <body class="">
    <div class="page">
      
      <div class="flex-fill">
        
        {% include 'partials/header.html' %}

        {% block content %}{% endblock content %}

      </div>

      {% include 'partials/footer.html' %}

    </div>

  <!-- Specific Page JS goes HERE  -->
  {% block javascripts %}{% endblock javascripts %}
      
  </body>
</html>