* {
    margin: 0;
    padding: 0;
  }
  
  .create {
    background: #f3f3f5;
  }

  .error-messages {
    color: red;
  }

  tr.htmx-swapping td {
    opacity: 0;
    transition: opacity 1s ease-out;
  }

 

  header {
    text-align: center;
    width: 100%;
    z-index: 999;
    padding: .4rem;
    position: fixed;
    background: #f4f5f6;
    border-bottom: 0.1rem solid #d1d1d1;
  }
  
  header input.menu-toggle {
    display: none;
  }
  
  nav {
    position: absolute;
    text-align: center;
    top: 100%;
    left: 0;
    background-color: #f4f5f6;
    width: 100%;
    -webkit-transform: scale(1, 0);
            transform: scale(1, 0);
    -webkit-transition: -webkit-transform 400ms ease-in-out;
    transition: -webkit-transform 400ms ease-in-out;
    transition: transform 400ms ease-in-out;
    transition: transform 400ms ease-in-out, -webkit-transform 400ms ease-in-out;
    -webkit-transform-origin: top;
            transform-origin: top;
  }
  
  nav ul {
    margin: 0;
    margin-top: 14%;
    padding: 0;
    height: 90vh;
  }
  
  nav li {
    margin-left: 1rem;
    height: 10%;
    list-style: none;
  }
  
  nav a {
    text-transform: uppercase;
    opacity: 0;
  }
  
  .nav-heading {
    font-size: 3rem;
  }
  
  .menu-toggle:checked ~ nav {
    -webkit-transform: scale(1, 1);
            transform: scale(1, 1);
  }
  
  .menu-toggle:checked ~ nav a {
    opacity: 1;
    -webkit-transition: opacity 200ms ease-in 100ms;
    transition: opacity 200ms ease-in 100ms;
  }
  
  .menu-nav-toggle {
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-right: 2rem;
  }
  
  .menu-nav-toggle:hover, .menu-nav-toggle:focus {
    cursor: pointer;
  }
  
  .menu-nav-toggle span, .menu-nav-toggle span:before, .menu-nav-toggle span:after {
    display: block;
    background: #333;
    width: 2rem;
    border-radius: 0.125rem;
    position: relative;
    height: 0.25rem;
  }
  
  .menu-nav-toggle span:before, .menu-nav-toggle span:after {
    content: '';
    position: absolute;
  }
  
  .menu-nav-toggle span:before {
    top: 0.8rem;
  }
  
  .menu-nav-toggle span:after {
    bottom: 0.8rem;
  }
  
  @media screen and (min-width: 50rem) {
    .menu-nav-toggle {
      display: none;
    }
    header {
      display: -ms-grid;
      display: grid;
      -ms-grid-columns: 1fr auto minmax(37.5rem, 3fr) 1fr;
          grid-template-columns: 1fr auto minmax(37.5rem, 3fr) 1fr;
    }
    .nav-brand {
      -ms-grid-column: 2;
      -ms-grid-column-span: 1;
      grid-column: 2/3;
    }
    nav {
      all: unset;
      -ms-grid-column: 3;
      -ms-grid-column-span: 1;
      grid-column: 3/4;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: end;
          -ms-flex-pack: end;
              justify-content: flex-end;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center;
    }
    nav ul {
      margin-top: 0;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center;
      height: auto;
    }
    nav li {
      margin-bottom: 0;
      margin-left: 2rem;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center;
      height: auto;
    }
    nav li {
      margin-bottom: 0;
      margin-left: 2rem;
    }
    nav a {
      opacity: 1;
    }
  }
