{{ define "gateways/add-gateway.html" }}

<div class="modal-dialog modal-dialog-centered">
  <div class="modal-content">
    <div class="modal-header">
      <h5 class="modal-title">Add a new gateway</h5>
      <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
    </div>
    <form class="was-validated" hx-post="/gateways/new" hx-target="#gateway-list" hx-swap="beforeend">
      <div class="modal-body">
        <fieldset>
          <div class="mb-3">
            <label for="name" class="col-form-label col-form-label-sm">Name *</label>
            <input type="text" class="form-control form-control-sm" name="name" id="name" placeholder="Enter a Gateway name" required>
            <div class="invalid-feedback">Please fill out this field.</div>
          </div>
          <div class="mb-3">
            <label for="ipaddress" class="col-form-label col-form-label-sm">IP Address *</label>
            <input type="text" class="form-control form-control-sm" name="ipaddress" id="ipaddress" required pattern="((^|\.)((25[0-5])|(2[0-4]\d)|(1\d\d)|([1-9]?\d))){4}$">
            <div class="invalid-feedback">Please enter a valid ipv4 address.</div>
          </div>
          <div class="mb-3">
            <label for="port" class="col-form-label col-form-label-sm">Port *</label>
            <input type="number" class="form-control form-control-sm" name="port" id="port" value="5060" min="0" max="65535">
            <div class="invalid-feedback">Port number must be < 65536.</div>
          </div>
          <div class="mb-3">
            <label for="protocol" class="col-form-label col-form-label-sm">Protocol</label>
            <select class="form-select form-select-sm" name="protocol" id="protocol">
              <option value="udp">udp</option>
              <option value="tcp">tcp</option>
              <option value="any">any</option>
            </select>
          </div>
        </fieldset>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-outline-warning" data-bs-dismiss="modal">Cancel</button>
        <button type="submit" class="btn btn-outline-primary">Submit</button>
      </div>
    </form>
    </div>
  </div>
  <script>
    document.body.addEventListener('htmx:beforeSwap', function(evt) {
        if(evt.detail.xhr.status === 400) {
          alert("Error: Could not create : IP address, Port and protocol must be unique !");
          evt.detail.shouldSwap = true;
          
        }
    });
    $('form').on('submit', function() {
$('#addModal').modal('toggle')
});
  </script>
{{ end }}