@font-face {
  font-family: 'Luciole';
  src: url('../fonts/Luciole-Regular.woff') format('woff'), /* Modern Browsers */
       url('../fonts/Luciole-Regular.ttf') format('truetype'); /* Safari, Android, iOS */
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: 'Luciole-Bold';
  src: url('../fonts/Luciole-Bold.woff') format('woff'), /* Modern Browsers */
       url('../fonts/Luciole-Bold.ttf') format('truetype'); /* Safari, Android, iOS */
  font-style: bold;
  font-weight: normal;
}

@font-face {
  font-family: 'Luciole-Italic';
  src: url('../fonts/Luciole-Italic.woff') format('woff'), /* Modern Browsers */
       url('../fonts/Luciole-Italic.ttf') format('truetype'); /* Safari, Android, iOS */
  font-style: normal;
  font-weight: italic;
}

@font-face {
  font-family: 'Luciole-BoldItalic';
  src: url('../fonts/Luciole-BoldItalic.woff') format('woff'), /* Modern Browsers */
       url('../fonts/Luciole-BoldItalic.ttf') format('truetype'); /* Safari, Android, iOS */
  font-style: bold;
  font-weight: italic;
}

:root {
  --md-text-font: "Luciole";
  --md-code-font: "Luciole";
}