Django==1.5.5
South==0.8.2
argparse==1.2.1
diff-match-patch==20120106
django-admin-honeypot==0.2.5
django-admin-tools==0.5.1
django-axes==1.3.5
django-cache-utils==0.7.2
django-chroniker==0.3.11
django-clear-cache==0.3
django-countries==1.5
django-country-dialcode==0.4.8
django-google-charts==0.1.1
django-iban==0.2.1
django-import-export==0.1.4
django-jsonfield==0.8
django-qsstats-magic==0.7.2
django-reusableapps==0.1.1
django-tables2==0.14.0
django-templated-email==0.4.9
psycopg2==2.5.1
python-dateutil==2.1
python-memcached==1.53
pytz==2013b
six==1.3.0
switch2bill-common==2.8.1
tablib==0.9.11
wsgiref==0.1.2