Django==1.6.5
South==0.8.4
argparse==1.2.1
django-admin-honeypot==0.3.0
yawd-admin==0.7.0
django-axes==1.3.6
django-cache-utils==0.7.2
django-chroniker==0.5.0
django-cities-light==2.4.2
django-clear-cache==0.3
django-countries==2.1.2
django-country-dialcode==0.5.1
django-google-charts==0.1.1
django-iban==0.2.8
django-import-export==0.2.2
django-jsonfield==0.9.12
django-qsstats-magic==0.7.2
django-simple-import==1.15
django-templated-email==0.4.9
netaddr==0.7.11
psycopg2==2.5.3
python-memcached==1.53
pytz==2014.3
switch2bill-common==2.8.5
wsgiref==0.1.2
django-database-size==0.3.0
django-mass-edit==1.5.1
django-request==1.0.1
django-model-report==0.2.1
django-datetime-widget==0.6
django-bootstrap3==4.10.0
django-braces==1.4.0
django-system-monitor==0.5