Django==1.5.5
South
argparse==1.2.1
django-admin-honeypot==0.2.5
yawd-admin
django-axes
django-chartjs
django-cache-utils==0.7.2
django-chroniker
django-clear-cache==0.3
django-countries==1.5
django-country-dialcode==0.4.8
django-iban==0.2.1
django-import-export
django-jsonfield==0.8
django-qsstats-magic==0.7.2
django-tables2==0.14.0
django-templated-email==0.4.9
psycopg2==2.5.1
python-memcached==1.53
pytz==2013b
switch2bill-common==2.8.1
wsgiref==0.1.2
netaddr==0.7.10