# requirements.in

Django==1.7.11
django-admin-honeypot==1.0.0
django-axes==1.6.0
django-bootstrap-pagination==1.6.2
django-bootstrap-toolkit==2.15.0
django-bootstrap3==6.2.2
django-braces==1.9.0
django-chroniker==0.9.3
django-clear-cache==0.3
django-countries==3.4.1
django-crispy-forms==1.6.0
django-currencies==0.4.0
django-datetime-widget==0.9.3
## -- to be upated
django-import-export==0.2.3
django-qsstats-magic==0.7.2
django-mathfilters==0.3.0
django-secure==1.0.1
django-simple-import==1.16
django-tables2==0.15.0
FreeSWITCH-ESL-Python==1.2
netaddr==0.7.18
netifaces==0.10.4
psycopg2==2.5.4
# raven==5.13.0
# requests==2.9.1
pytz==2016.3
vatnumber==1.2
-e git+https://github.com/mwolff44/yawd-admin.git@0.7.2#egg=yawd-admin
