{% extends "admin/change_form.html" %}
{% load i18n admin_static admin_modify %}
{% load admin_urls %}


{% block object-tools %}
{% if change %}{% if not is_popup %}
  <ul class="object-tools">
  
    {% block object-tools-items %}
        <div class="span2">
            <a href="history/" class="big-button">
                <i class="database-item"></i> {% trans "History" %}
            </a>
        </div>
        <div class="span2">
            <a href="../../companybalancehistory/?company__id__exact={{ object_id }}" class="big-button">
                <i class="dollar-item"></i> {% trans "Balance history" %}
            </a>
        </div>
        <div class="span2">
            <a href="../../customerdirectory/?company__id__exact={{ object_id }}" class="big-button">
                <i class="phone-item"></i> {% trans "Customer SIP" %}
            </a>
        </div>

        <div class="span2">
            <a href="../../cdr/?customer__id__exact={{ object_id }}" class="big-button">
                <i class="world-item"></i> {% trans "Customer CDRs" %}
            </a>
        </div>
        <div class="span2">
            <a href="../../sofiagateway/?company__id__exact={{ object_id }}" class="big-button">
                <i class="satellite-item"></i> {% trans "Provider gateway" %}
            </a>
        </div>
        <div class="span2">
            <a href="../../cdr/?lcr_carrier_id__id__exact={{ object_id }}" class="big-button">
                <i class="world-item"></i> {% trans "Provider CDRs" %}
            </a>
        </div>
        <div class="span2">
            <a href="../../person/?company__id__exact={{ object_id }}" class="big-button">
                <i class="agent-item"></i> {% trans "Contacts" %}
            </a>
        </div>
        <div class="span2">
        
        </div>    

    {% endblock %}
  
  </ul>
{% endif %}{% endif %}
{% endblock %}
