
#-------------
#-------------
## 6_relay.cfg

# Wrapper for relaying requests
route[RELAY] {

    xlog("L_INFO", "$ci|log|--RELAY--\n");
    # enable additional event routes for forwarded requests
    # - serial forking, RTP relaying handling, a.s.o.
    if (is_method("INVITE|BYE|SUBSCRIBE|UPDATE")) {
        if(!t_is_set("branch_route")) t_on_branch("MANAGE_BRANCH");
    }

    if (is_method("INVITE|SUBSCRIBE|UPDATE")) {
        if(sdp_content()) {
            if(isflagset(FLAG_FROM_CUST)){
                rtpengine_manage("replace-origin replace-session-connection ICE=remove direction=internal direction=external");
            } else {
                rtpengine_manage("replace-origin replace-session-connection ICE=remove direction=external direction=internal");
            }
        }
        if(!t_is_set("onreply_route")) t_on_reply("MANAGE_REPLY");
    }

    if (is_method("INVITE")) {
        if(!t_is_set("failure_route")) t_on_failure("MANAGE_FAILURE");
    }

    if (!t_relay()) {
        xlog("L_INFO", "$ci|end|unable to relay message\n");
        sl_reply_error();
    } else {
        xlog("L_INFO", "$ci|pass|successfull relay $du\n");
    }

    xlog("L_INFO", "$ci|stop|----------------------------\n");
    exit;
}

#-------------
