{{ define "gateways/index.html" }}
{{ template "base/header.html" . }}

<div class="container">
  <div class="row">
    <div class="column section">
      <h4><em><u>My Gateways</u></em></h4> <p>(currently : {{ .pagination.TotalRecords }} in database)</p>
    </div>
  </div>

  <div class="row">
    <div class="column column-65">
      <table>
        <thead>
          <tr>
            <th>Id</th>
            <th>Gateway</th>
            <th>CIDR</th>
          </tr>
        </thead>
        <tbody hx-confirm="Are you sure?" hx-target="closest tr" hx-swap="outerHTML swap:1s" id="gateway-list">
          {{ range .gateways }}
          <tr>
            <td>{{.ID }}</td>
            <td>{{ .Name }}</td>
            <td>{{ .IpAddress }}:{{ .Port}}</td>
            <td>
              <button class="btn btn-danger" hx-delete="/gateways/{{.ID }}">
                Delete
              </button>
            </td>
          </tr>
          {{ end }}
        </tbody>
      </table>

      <div>
        Pages: 
        {{ if ne .pagination.Prev 0 }}
        <a href="/gateways/?page={{ .pagination.Prev }}">&laquo;</a>
        {{ end }}
        
        <a class="page-link" href="#"> <span class="sr-only">{{ .pagination.CurrentPage }}</span></a> /{{ .pagination.LastPage }}

        {{ if ne .pagination.Next 0 }}
        <a href="/gateways/?page={{ .pagination.Next }}">&raquo;</a>
        {{ end }}
      </div>
    </div>

    <div class="column column-10"></div>

    <div class="create">
      <div class="column column-25">

            {{ template "base/errors.html" . }}

        <form hx-post="/gateways/new" hx-target="#gateway-list" hx-swap="beforeend" hx-indicator="#spinner">
          <fieldset>

              <label for="name">Name *</label>
              <input type="text" name="name" id="name" placeholder="MyGateway" required>
        

              <label for="ipaddress">IP Address *</label>
              <input type="text" name="ipaddress" id="ipaddress" required pattern="((^|\.)((25[0-5])|(2[0-4]\d)|(1\d\d)|([1-9]?\d))){4}$">

              <label for="port">Port *</label>
              <input type="number" name="port" id="port" value="5060" min="0" max="65535">

              <label for="protocol">Protocol</label>
              <select name="protocol" id="protocol">
                <option value="udp">udp</option>
                <option value="tcp">tcp</option>
                <option value="any">any</option>
              </select>
        
            <input type="submit" class="submit-button" value="Add a new gateway">
            <span class="spinner-border spinner-border-sm htmx-indicator" id="spinner" role="status" aria-hidden="true"></span>
          </fieldset>
        </form>
      </div>
    </div>
  

  </div>


</div>  

{{ template "base/footer.html" . }}
{{ end }}