{{ define "base/header.html" }}
<!DOCTYPE html>
<html class="h-100" lang="en">
  <head>
    <link rel="stylesheet" href="/static/css/styles.css">
    <title>PKS-admin: Dashboard</title>
  </head>
  <body>
    <header>
      <nav>
        <ul>
            <li><a href="/"><strong>PKS-admin</strong></a></li>
            <li><a href="/gateways/">Gateways</a></li>
            <li><a href="/gateways/new">New Gateway</a></li>
        </ul>
      </nav>
    </header>
    {{ if .messages }}
    {{ range .messages }}
    <div class="flash-message" role="alert">
        {{ . }}
    </div>
    {{ end }}
    {{ end }}
    <main role="main">
  

{{ end }}