{% load i18n %}
{% load static %}

<div class="card">
    <div class="card-header">
        <h3 class="card-title">{% trans "Normalization rules for incoming calls" %}</h3>
    </div>
    <div class="card-body">
        <div class="row">
            <label class="col-sm-6">{% trans "Caller number rule" %} :</label><div class="col-sm-6 text-muted"> {{ endpoint.callerid_norm_in }}</div>
            <label class="col-sm-6">{% trans "Called number rule" %} :</label><div class="col-sm-6 text-muted"> {{ endpoint.callee_norm_in }}</div>
        </div>
   </div>

</div>
<div class="card">
          
    <div class="card-header">
        <h3 class="card-title">{% trans "Normalization rules for outgoing calls" %}</h3>
    </div>
    <div class="card-body">
        <div class="row">
            <label class="col-sm-6">{% trans "Caller number rule" %} :</label><div class="col-sm-6 text-muted"> {{ endpoint.callerid_norm }}</div>
            <label class="col-sm-6">{% trans "Called number rule" %} :</label><div class="col-sm-6 text-muted"> {{ endpoint.callee_norm }}</div>
         </div>

   </div>

</div>

<div class="card card-sm">

    <div class="card-body">
        <div class="row">
            {% if endpoint.outbound_caller_id_name %}<label class="col-sm-6">{% trans "CallerID name" %} :</label><div class="col-sm-6 text-muted"> {{ endpoint.outbound_caller_id_name }}</div>{% endif %}
            {% if endpoint.outbound_caller_id_number %}<label class="col-sm-6">{% trans "CallerID number" %} :</label><div class="col-sm-6 text-muted"> {{ endpoint.outbound_caller_id_number }}</div>{% endif %}
            <label class="col-sm-6">{% trans "Force CallerID" %} :</label><div class="col-sm-6 text-muted"> {{ endpoint.force_caller_id }}</div>
            <label class="col-sm-6">{% trans "Masq CallerID" %} :</label><div class="col-sm-6 text-muted"> {{ endpoint.masq_caller_id }}</div>
         </div>

   </div>

</div>