{% load i18n %}
{% load static %}
<div class="card">
    <div class="table-responsive">
        <table class="table table-hover table-outline table-vcenter text-nowrap card-table">
            <thead>
                <tr>
                    <th class="text-left">{% trans "DIDs" %}</th>
                    <th class="text-center">{% trans "Max channels" %}</th>
                    <th class="text-center">{% trans "Free" %}</th>
                </tr>
            </thead>
            <tbody>

                {% if dids %}
                    {% for did in dids %}
                        <tr>
                            <td class="text-left">
                                <div>{{ did.number }}</div>
                             </td>
                            <td class="text-center">
                                <div>
                                    {% if did.cust_max_channels %}
                                        {{ did.cust_max_channels }}
                                    {% else %}
                                        {% trans "Illimited" %}
                                    {% endif %}
                                </div>
                            </td>
                            <td class="text-center">
                                <div>
                                    {% if did.customer_free %}
                                        <i class="text-green fe fe-dollar-sign" data-toggle="tooltip" data-original-title="did_free"></i>
                                    {% else %}
                                        <i class="text-red fe fe-check" data-toggle="tooltip" data-original-title="did_not_free"></i>
                                    {% endif %}
                                </div>
                            </td>
                        </tr>
                    {% endfor %}
                {% else %}
                    <tr>
                        <td colspan="5" class="text-center small text-muted">
                            <br/>
                            {% trans "No DID configured !" %}
                            
                        </td>
                    </tr>
                {% endif %}
            </tbody>
        </table>

        <br/><br/>
    </div>
</div>