{% load i18n %}
{% load static %}
<div class="card">
    <div class="table-responsive">
        <table class="table table-hover table-outline table-vcenter text-nowrap card-table">
            <thead>
                <tr>
                    <th class="text-left">{% trans "Ratecard" %}</th>
                    <th class="text-center">{% trans "Priority" %}</th>
                    <th class="text-center">{% trans "Discount" %}</th>
                    <th class="text-center">{% trans "Tech prefix" %}</th>
                    <th class="text-center">{% trans "Margin" %}</th>
                </tr>
            </thead>
            <tbody>

                {% if ratecards %}
                    {% for ratecard in ratecards %}
                        <tr>
                            <td class="text-left">
                                <div>{{ ratecard.ratecard.name }}</div>
                            </td>
                            <td class="text-left">
                                <div>{{ ratecard.priority }}</div>
                            </td>
                            <td class="text-left">
                                <div>{{ ratecard.discount }}</div>
                            </td>
                            <td class="text-center">
                                <div>
                                    {% if ratecard.tech_prefix %}
                                        {{ ratecard.tech_prefix }}
                                    {% else %}
                                        -
                                    {% endif %}
                                </div>
                            </td>
                            <td class="text-center">
                                <div>
                                    {% if ratecard.allow_negative_margin %}
                                        <i class="text-red fe fe-dollar-sign" data-toggle="tooltip" data-original-title="{% trans "!! Negative margin allowed !!" %}"></i>
                                    {% else %}
                                        <i class="text-green fe fe-check" data-toggle="tooltip" data-original-title="{% trans "Negative margin not allowed." %}"></i>
                                    {% endif %}
                                </div>
                            </td>
                        </tr>
                    {% endfor %}
                {% else %}
                    <tr>
                        <td colspan="5" class="text-center small text-muted">
                            <br/>
                            {% trans "No ratecard allocated !" %}
                            
                        </td>
                    </tr>
                {% endif %}
            </tbody>
        </table>


    </div>
</div>