{% load i18n %}
{% load static %}

<div class="card">
    <div class="card-body">
        <div class="row">
            <label class="col-sm-6">{% trans "Allow recording calls" %} :</label><div class="col-sm-6 text-muted"> {{ endpoint.recording_allowed }}</div>
            <label class="col-sm-6">{% trans "Record all calls" %} :</label><div class="col-sm-6 text-muted"> {{ endpoint.recording_always }}</div>
            <label class="col-sm-6">{% trans "Recording space storage" %} :</label><div class="col-sm-6 text-muted"> {{ endpoint.recording_limit }}</div>
            <label class="col-sm-6">{% trans "Retention days for recording" %} :</label><div class="col-sm-6 text-muted"> {{ endpoint.recording_retention }}</div>
        </div>
   </div>

</div>