{% load i18n %}
{% load static %}
<div class="card">

        <div class="table-responsive">
            <table class="table table-hover table-outline table-vcenter text-nowrap card-table">
                <thead>
                    <tr>
                        <th class="text-left">{% trans "Routing rules" %}</th>
                        <th class="text-center">{% trans "Status" %}</th>
                    </tr>
                </thead>
                <tbody>

                    {% if rules %}
                        {% for rule in rules %}
                            <tr>
                                <td class="text-left">
                                    <div>{{ rule.routinggroup.name }}</div>
                                </td>
                                <td class="text-center">
                                    <div>
                                        {% if rule.routinggroup.status %}
                                            <i class="text-green fe fe-phone-call" data-toggle="tooltip" data-original-title="{% trans "Routing rules enabled" %}"></i>
                                        {% else %}
                                            <i class="text-red fe fe-phone-off" data-toggle="tooltip" data-original-title="{% trans "!! Routing rules disactivated !!" %}"></i>
                                        {% endif %}
                                    </div>
                                </td>
                            </tr>
                        {% endfor %}
                    {% else %}
                        <tr>
                            <td colspan="5" class="text-center small text-muted">
                                <br/>
                                {% trans "No routing rules allocated !" %}
                                
                            </td>
                        </tr>
                    {% endif %}
                </tbody>
            </table>

        </div>

</div>