{% load staticfiles %}
{% load i18n %}

  {% block navbar %}
  <div class="header py-4">
      <div class="container">
          <div class="d-flex">
              <a class="header-brand" href="/">
                 <img src="{% static 'images/PyFreeBilling-logo.small.png' %}" class="header-brand-img" alt="PyFreeBilling">
              </a>



             {% if user.is_authenticated %}
              <div class="d-flex order-lg-2 ml-auto">
                  <div class="col-lg order-lg-first">
                      <ul class="nav nav-tabs border-0 flex-column flex-lg-row">
                        <li class="nav-item">
                          <a href="/" class="nav-link active" class="btn btn-sm btn-outline-primary"><i class="fe fe-home"></i> {% trans "Home" %}</a>
                        </li>
                        <li class="nav-item">
                          <a href="{% url 'customerportal:customer_list' %}" class="nav-link active"><i class="fe fe-phone"></i> {% trans "Customers" %}</a>
                        </li>
                        <li class="nav-item">
                          <a href="/" class="nav-link active"><i class="fe fe-dollar-sign"></i> {% trans "Balance history" %}</a>
                        </li>
                        <li class="nav-item">
                          <a href="/" class="nav-link active"><i class="fe fe-save"></i> {% trans "Report" %}</a>
                        </li>
                        <li class="nav-item">
                          <a href="/cdr" class="nav-link active"><i class="fe fe-list"></i> {% trans "CDR" %}</a>
                        </li>
                      </ul>
                  </div>
                  <div class="nav-item d-none d-md-flex">
                       
                  </div>
                  <div class="dropdown">
                      <a href="#" class="nav-link pr-0 leading-none" data-toggle="dropdown">
                          <span class="avatar" style="background-image: url(/static/assets/images/avatar-png-7.png)"></span>
                          <span class="ml-2 d-none d-lg-block">
                              <span class="text-default">{{ user_first_name }} {{ user_last_name }}</span>
                          </span>
                      </a>
                      <div class="dropdown-menu dropdown-menu-right dropdown-menu-arrow">
                          <a class="dropdown-item" href="">
                              <i class="dropdown-icon fe fe-pie-chart"></i> {% trans "Dashboard" %}
                          </a>
                          <a class="dropdown-item" href="">
                              <i class="dropdown-icon fe fe-user"></i> {% trans "Profile" %}
                          </a>
                          <a class="dropdown-item" href="">
                              <i class="dropdown-icon fe fe-zap"></i> {% trans "Namespaces" %}
                          </a>
                          <a class="dropdown-item" href="extranet/">
                              <i class="dropdown-icon fe fe-settings"></i> {% trans "Settings" %}
                          </a>
                          <div class="dropdown-divider"></div>
                          <a class="dropdown-item" href="">
                              <i class="dropdown-icon fe fe-log-out"></i> {% trans "Logout" %}
                          </a>
                      </div>
                  </div>
              </div>
              <a href="#" class="header-toggler d-lg-none ml-3 ml-lg-0" data-toggle="collapse" data-target="#headerMenuCollapse">
                  <span class="header-toggler-icon"></span>
              </a>
          </div>

      {% endif %}
    </div>
</div>
  {% endblock navbar %}